In [1]:
import pandas as pd
import re
import unidecode

In [15]:
cities =  pd.read_csv(r'C:\Users\frans\Documents\GitHub\Project4-WebScrap\Files\merge_country_city.csv')

In [16]:
cities.head()

,Unnamed: 0.1,Unnamed: 0,url,results,result1,result2,score,rank,nb_reviews,city,Rank,Country,Cost of Living
0,0,0,https://nomadlist.com/lisbon,['‚≠êÔ∏è Total score\n4.34/5 (Rank #1)\n2384 revie...,['‚≠êÔ∏è Total score\n4.34/5 (,#1)\n2384 reviews\n‚ù§Ô∏è Liked by members\nüëç86% ...,4.34,1,2384,lisbon,1,Portugal,3337
1,1,1,https://nomadlist.com/chiang-mai,['‚≠êÔ∏è Total score\n4.06/5 (Rank #3)\n1583 revie...,['‚≠êÔ∏è Total score\n4.06/5 (,#3)\n1583 reviews\n‚ù§Ô∏è Liked by members\nüëç91% ...,4.06,3,1583,chiang-mai,4,Thailand,1309
2,2,2,https://nomadlist.com/canggu,['‚≠êÔ∏è Total score\n4.04/5 (Rank #4)\n1287 revie...,['‚≠êÔ∏è Total score\n4.04/5 (,#4)\n1287 reviews\n‚ù§Ô∏è Liked by members\nüëç81% ...,4.04,4,1287,canggu,3,Indonesia,1922
3,3,3,https://nomadlist.com/bangkok,['‚≠êÔ∏è Total score\n4.08/5 (Rank #2)\n2250 revie...,['‚≠êÔ∏è Total score\n4.08/5 (,#2)\n2250 reviews\n‚ù§Ô∏è Liked by members\nüëç89% ...,4.08,2,2250,bangkok,2,Thailand,2084
4,4,4,https://nomadlist.com/madeira,['‚≠êÔ∏è Total score\n3.88/5 (Rank #5)\n275 review...,['‚≠êÔ∏è Total score\n3.88/5 (,#5)\n275 reviews\n‚ù§Ô∏è Liked by members\nüëç100% ...,3.88,5,275,madeira,6,Portugal,2102

In [17]:
cities['city'] = cities['city'].str.title()

In [18]:
cities['city'] = cities['city'].str.replace('-',' ')

In [19]:
cities.head()

,Unnamed: 0.1,Unnamed: 0,url,results,result1,result2,score,rank,nb_reviews,city,Rank,Country,Cost of Living
0,0,0,https://nomadlist.com/lisbon,['‚≠êÔ∏è Total score\n4.34/5 (Rank #1)\n2384 revie...,['‚≠êÔ∏è Total score\n4.34/5 (,#1)\n2384 reviews\n‚ù§Ô∏è Liked by members\nüëç86% ...,4.34,1,2384,Lisbon,1,Portugal,3337
1,1,1,https://nomadlist.com/chiang-mai,['‚≠êÔ∏è Total score\n4.06/5 (Rank #3)\n1583 revie...,['‚≠êÔ∏è Total score\n4.06/5 (,#3)\n1583 reviews\n‚ù§Ô∏è Liked by members\nüëç91% ...,4.06,3,1583,Chiang Mai,4,Thailand,1309
2,2,2,https://nomadlist.com/canggu,['‚≠êÔ∏è Total score\n4.04/5 (Rank #4)\n1287 revie...,['‚≠êÔ∏è Total score\n4.04/5 (,#4)\n1287 reviews\n‚ù§Ô∏è Liked by members\nüëç81% ...,4.04,4,1287,Canggu,3,Indonesia,1922
3,3,3,https://nomadlist.com/bangkok,['‚≠êÔ∏è Total score\n4.08/5 (Rank #2)\n2250 revie...,['‚≠êÔ∏è Total score\n4.08/5 (,#2)\n2250 reviews\n‚ù§Ô∏è Liked by members\nüëç89% ...,4.08,2,2250,Bangkok,2,Thailand,2084
4,4,4,https://nomadlist.com/madeira,['‚≠êÔ∏è Total score\n3.88/5 (Rank #5)\n275 review...,['‚≠êÔ∏è Total score\n3.88/5 (,#5)\n275 reviews\n‚ù§Ô∏è Liked by members\nüëç100% ...,3.88,5,275,Madeira,6,Portugal,2102

In [20]:
cities.to_csv('FinalCities.csv')

In [9]:
cities[cities['Country']=='Thailand'].score.describe()

count    18.000000
mean      3.063889
std       0.446821
min       2.470000
25%       2.780000
50%       2.965000
75%       3.175000
max       4.080000
Name: score, dtype: float64