In [5]:
import pandas as pd
import re

In [6]:
### Open final CSV 
url_results_1 = pd.read_csv(r'C:\Users\frans\Documents\GitHub\Project4-WebScrap\Files\url_results_2022-12-11_14_47_34.csv')

In [7]:
url_results_1 = url_results_1[['url', 'results']] 
url_results_1[['result1','result2']] = url_results_1['results'].str.split('Rank', expand=True)
url_results_1
url_results_1['score'] = url_results_1['result1'].apply(lambda x : re.findall('([0-9].[0-9]+)/5', str(x)))
url_results_1['score'] = url_results_1['score'].apply(lambda x : ''.join(x))
url_results_1['rank'] = url_results_1['result2'].apply(lambda x : re.findall('#([0-9]+)', str(x)))
url_results_1['rank'] = url_results_1['rank'].apply(lambda x : ''.join(x))
url_results_1.to_csv('URL-Final.csv')

,url,results,result1,result2,score,rank
0,https://nomadlist.com/lisbon,['‚≠êÔ∏è Total score\n4.34/5 (Rank #1)\n2384 revie...,['‚≠êÔ∏è Total score\n4.34/5 (,#1)\n2384 reviews\n‚ù§Ô∏è Liked by members\nüëç86% ...,4.34,1
1,https://nomadlist.com/chiang-mai,['‚≠êÔ∏è Total score\n4.06/5 (Rank #3)\n1583 revie...,['‚≠êÔ∏è Total score\n4.06/5 (,#3)\n1583 reviews\n‚ù§Ô∏è Liked by members\nüëç91% ...,4.06,3
2,https://nomadlist.com/canggu,['‚≠êÔ∏è Total score\n4.04/5 (Rank #4)\n1287 revie...,['‚≠êÔ∏è Total score\n4.04/5 (,#4)\n1287 reviews\n‚ù§Ô∏è Liked by members\nüëç81% ...,4.04,4
3,https://nomadlist.com/bangkok,['‚≠êÔ∏è Total score\n4.08/5 (Rank #2)\n2250 revie...,['‚≠êÔ∏è Total score\n4.08/5 (,#2)\n2250 reviews\n‚ù§Ô∏è Liked by members\nüëç89% ...,4.08,2
4,https://nomadlist.com/madeira,['‚≠êÔ∏è Total score\n3.88/5 (Rank #5)\n275 review...,['‚≠êÔ∏è Total score\n3.88/5 (,#5)\n275 reviews\n‚ù§Ô∏è Liked by members\nüëç100% ...,3.88,5
...,...,...,...,...,...,...
1343,https://nomadlist.com/dar-es-salaam,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1356)\n48 revie...,['‚≠êÔ∏è Total score\n0.5/5 (,#1356)\n48 reviews\nüëç Quality of life score\n...,0.5,1356
1344,https://nomadlist.com/saint-petersburg,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1323)\n314 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1323)\n314 reviews\n‚ù§Ô∏è Liked by members\nüëç10...,0.5,1323
1345,https://nomadlist.com/yangon,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1348)\n109 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1348)\n109 reviews\n‚ù§Ô∏è Liked by members\nüëç10...,0.5,1348
1346,https://nomadlist.com/baghdad,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1328)\n6 review...,['‚≠êÔ∏è Total score\n0.5/5 (,#1328)\n6 reviews\nüëç Quality of life score\nB...,0.5,1328
1347,https://nomadlist.com/moscow,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1322)\n479 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1322)\n479 reviews\n‚ù§Ô∏è Liked by members\nüëç91...,0.5,1322

In [9]:
url_results_1.to_csv('URL-Final.csv')