In [74]:
import pandas as pd
import re
from bs4 import BeautifulSoup
from getpass import getpass
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from fake_useragent import UserAgent
import time

In [28]:
name =  pd.read_csv(r'/Users/anacarolinaquintino/Documents/GitHub/Project4-WebScrap/Files/namelower.csv')
url = pd.read_csv(r'/Users/anacarolinaquintino/Documents/GitHub/Project4-WebScrap/Files/URL-Final.csv')

In [4]:
url

,Unnamed: 0,url,results,result1,result2,score,rank
0,0,https://nomadlist.com/lisbon,['‚≠êÔ∏è Total score\n4.34/5 (Rank #1)\n2384 revie...,['‚≠êÔ∏è Total score\n4.34/5 (,#1)\n2384 reviews\n‚ù§Ô∏è Liked by members\nüëç86% ...,4.34,1
1,1,https://nomadlist.com/chiang-mai,['‚≠êÔ∏è Total score\n4.06/5 (Rank #3)\n1583 revie...,['‚≠êÔ∏è Total score\n4.06/5 (,#3)\n1583 reviews\n‚ù§Ô∏è Liked by members\nüëç91% ...,4.06,3
2,2,https://nomadlist.com/canggu,['‚≠êÔ∏è Total score\n4.04/5 (Rank #4)\n1287 revie...,['‚≠êÔ∏è Total score\n4.04/5 (,#4)\n1287 reviews\n‚ù§Ô∏è Liked by members\nüëç81% ...,4.04,4
3,3,https://nomadlist.com/bangkok,['‚≠êÔ∏è Total score\n4.08/5 (Rank #2)\n2250 revie...,['‚≠êÔ∏è Total score\n4.08/5 (,#2)\n2250 reviews\n‚ù§Ô∏è Liked by members\nüëç89% ...,4.08,2
4,4,https://nomadlist.com/madeira,['‚≠êÔ∏è Total score\n3.88/5 (Rank #5)\n275 review...,['‚≠êÔ∏è Total score\n3.88/5 (,#5)\n275 reviews\n‚ù§Ô∏è Liked by members\nüëç100% ...,3.88,5
...,...,...,...,...,...,...,...
1343,1343,https://nomadlist.com/dar-es-salaam,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1356)\n48 revie...,['‚≠êÔ∏è Total score\n0.5/5 (,#1356)\n48 reviews\nüëç Quality of life score\n...,0.50,1356
1344,1344,https://nomadlist.com/saint-petersburg,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1323)\n314 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1323)\n314 reviews\n‚ù§Ô∏è Liked by members\nüëç10...,0.50,1323
1345,1345,https://nomadlist.com/yangon,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1348)\n109 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1348)\n109 reviews\n‚ù§Ô∏è Liked by members\nüëç10...,0.50,1348
1346,1346,https://nomadlist.com/baghdad,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1328)\n6 review...,['‚≠êÔ∏è Total score\n0.5/5 (,#1328)\n6 reviews\nüëç Quality of life score\nB...,0.50,1328
1347,1347,https://nomadlist.com/moscow,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1322)\n479 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1322)\n479 reviews\n‚ù§Ô∏è Liked by members\nüëç91...,0.50,1322

In [29]:
name.drop(['Unnamed: 0', 'Unnamed: 0.1', 'City'], axis=1, inplace=True)

In [30]:
#name['Cost of Living_new']=name['Cost of Living'].apply(lambda x:str(x))
name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1348 entries, 0 to 1347
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            1348 non-null   int64
 1   Country         1348 non-null   object
 2   Cost of Living  1348 non-null   int64
 3   city            1348 non-null   object
dtypes: int64(2), object(2)
memory usage: 42.2+ KB

In [31]:
#name['new_key']=name['Cost of Living_new']+'_'+name['city']
name

      Rank    Country  Cost of Living              city
0        1   Portugal            3336            lisbon
1        2   Thailand            2094           bangkok
2        3  Indonesia            1932            canggu
3        4   Thailand            1316        chiang-mai
4        5  Argentina            2027      buenos-aires
...    ...        ...             ...               ...
1343  1344   Tanzania            1745     dar-es-salaam
1344  1345     Russia            2377  saint-petersburg
1345  1346    Myanmar            1357            yangon
1346  1347       Iraq            1907           baghdad
1347  1348     Russia            3032            moscow

[1348 rows x 4 columns]

In [41]:
name[name['city']=='victoria']

      Rank        Country  Cost of Living      city
391    392         Canada            4607  victoria
456    457  United States            3552  victoria
1266  1267     Seychelles            5106  victoria

In [33]:
url['nb_reviews'] =  url['result2'].apply(lambda x : re.findall('([0-9]+) reviews', str(x)))
url['nb_reviews'] = url['nb_reviews'].apply(lambda x : ''.join(x))
url['city'] =  url['url'].apply(lambda x : re.findall('[^\/]+$', str(x)))
url['city'] = url['city'].apply(lambda x : ''.join(x))

,Unnamed: 0,url,results,result1,result2,score,rank,nb_reviews,city
0,0,https://nomadlist.com/lisbon,['‚≠êÔ∏è Total score\n4.34/5 (Rank #1)\n2384 revie...,['‚≠êÔ∏è Total score\n4.34/5 (,#1)\n2384 reviews\n‚ù§Ô∏è Liked by members\nüëç86% ...,4.34,1,2384,lisbon
1,1,https://nomadlist.com/chiang-mai,['‚≠êÔ∏è Total score\n4.06/5 (Rank #3)\n1583 revie...,['‚≠êÔ∏è Total score\n4.06/5 (,#3)\n1583 reviews\n‚ù§Ô∏è Liked by members\nüëç91% ...,4.06,3,1583,chiang-mai
2,2,https://nomadlist.com/canggu,['‚≠êÔ∏è Total score\n4.04/5 (Rank #4)\n1287 revie...,['‚≠êÔ∏è Total score\n4.04/5 (,#4)\n1287 reviews\n‚ù§Ô∏è Liked by members\nüëç81% ...,4.04,4,1287,canggu
3,3,https://nomadlist.com/bangkok,['‚≠êÔ∏è Total score\n4.08/5 (Rank #2)\n2250 revie...,['‚≠êÔ∏è Total score\n4.08/5 (,#2)\n2250 reviews\n‚ù§Ô∏è Liked by members\nüëç89% ...,4.08,2,2250,bangkok
4,4,https://nomadlist.com/madeira,['‚≠êÔ∏è Total score\n3.88/5 (Rank #5)\n275 review...,['‚≠êÔ∏è Total score\n3.88/5 (,#5)\n275 reviews\n‚ù§Ô∏è Liked by members\nüëç100% ...,3.88,5,275,madeira
...,...,...,...,...,...,...,...,...,...
1343,1343,https://nomadlist.com/dar-es-salaam,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1356)\n48 revie...,['‚≠êÔ∏è Total score\n0.5/5 (,#1356)\n48 reviews\nüëç Quality of life score\n...,0.50,1356,48,dar-es-salaam
1344,1344,https://nomadlist.com/saint-petersburg,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1323)\n314 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1323)\n314 reviews\n‚ù§Ô∏è Liked by members\nüëç10...,0.50,1323,314,saint-petersburg
1345,1345,https://nomadlist.com/yangon,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1348)\n109 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1348)\n109 reviews\n‚ù§Ô∏è Liked by members\nüëç10...,0.50,1348,109,yangon
1346,1346,https://nomadlist.com/baghdad,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1328)\n6 review...,['‚≠êÔ∏è Total score\n0.5/5 (,#1328)\n6 reviews\nüëç Quality of life score\nB...,0.50,1328,6,baghdad
1347,1347,https://nomadlist.com/moscow,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1322)\n479 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1322)\n479 reviews\n‚ù§Ô∏è Liked by members\nüëç91...,0.50,1322,479,moscow

In [45]:
url[url['score'].isna()]

,Unnamed: 0,url,results,result1,result2,score,rank,nb_reviews,city
15,15,https://nomadlist.com/lagos,['‚≠êÔ∏è Total score\n3/5 (Rank #183)\n25 reviews\...,['‚≠êÔ∏è Total score\n3/5 (,#183)\n25 reviews\nüëç Quality of life score\nO...,NaN,183,25,lagos
173,173,https://nomadlist.com/melbourne,['‚≠êÔ∏è Total score\n3/5 (Rank #182)\n498 reviews...,['‚≠êÔ∏è Total score\n3/5 (,#182)\n498 reviews\n‚ù§Ô∏è Liked by members\nüëç92%...,NaN,182,498,melbourne
181,181,https://nomadlist.com/lagos,['‚≠êÔ∏è Total score\n3/5 (Rank #183)\n25 reviews\...,['‚≠êÔ∏è Total score\n3/5 (,#183)\n25 reviews\nüëç Quality of life score\nO...,NaN,183,25,lagos
186,186,https://nomadlist.com/tampere,['‚≠êÔ∏è Total score\n3/5 (Rank #181)\n21 reviews\...,['‚≠êÔ∏è Total score\n3/5 (,#181)\n21 reviews\n‚ù§Ô∏è Liked by members\nüëç100%...,NaN,181,21,tampere
192,192,https://nomadlist.com/jeju-island,['‚≠êÔ∏è Total score\n3/5 (Rank #179)\n64 reviews\...,['‚≠êÔ∏è Total score\n3/5 (,#179)\n64 reviews\n‚ù§Ô∏è Liked by members\nüëç67% ...,NaN,179,64,jeju-island
193,193,https://nomadlist.com/louisville,['‚≠êÔ∏è Total score\n3/5 (Rank #185)\n37 reviews\...,['‚≠êÔ∏è Total score\n3/5 (,#185)\n37 reviews\nüëç Quality of life score\nG...,NaN,185,37,louisville
225,225,https://nomadlist.com/kochi,['‚≠êÔ∏è Total score\n3/5 (Rank #189)\n58 reviews\...,['‚≠êÔ∏è Total score\n3/5 (,#189)\n58 reviews\nüëç Quality of life score\nO...,NaN,189,58,kochi
229,229,https://nomadlist.com/tyler,['‚≠êÔ∏è Total score\n3/5 (Rank #180)\n3 reviews\n...,['‚≠êÔ∏è Total score\n3/5 (,#180)\n3 reviews\nüëç Quality of life score\nGo...,NaN,180,3,tyler
321,321,https://nomadlist.com/pristina,['‚≠êÔ∏è Total score\n3/5 (Rank #184)\n46 reviews\...,['‚≠êÔ∏è Total score\n3/5 (,#184)\n46 reviews\n‚ù§Ô∏è Liked by members\nüëç100%...,NaN,184,46,pristina
1066,1066,https://nomadlist.com/melbourne,['‚≠êÔ∏è Total score\n3/5 (Rank #182)\n498 reviews...,['‚≠êÔ∏è Total score\n3/5 (,#182)\n498 reviews\n‚ù§Ô∏è Liked by members\nüëç92%...,NaN,182,498,melbourne

In [43]:
url[url['city']=='melbourne']

,Unnamed: 0,url,results,result1,result2,score,rank,nb_reviews,city
173,173,https://nomadlist.com/melbourne,['‚≠êÔ∏è Total score\n3/5 (Rank #182)\n498 reviews...,['‚≠êÔ∏è Total score\n3/5 (,#182)\n498 reviews\n‚ù§Ô∏è Liked by members\nüëç92%...,NaN,182,498,melbourne
1066,1066,https://nomadlist.com/melbourne,['‚≠êÔ∏è Total score\n3/5 (Rank #182)\n498 reviews...,['‚≠êÔ∏è Total score\n3/5 (,#182)\n498 reviews\n‚ù§Ô∏è Liked by members\nüëç92%...,NaN,182,498,melbourne

In [34]:
final = pd.merge(url, name, on='city')
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1371 entries, 0 to 1370
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1371 non-null   int64
 1   url             1371 non-null   object
 2   results         1371 non-null   object
 3   result1         1371 non-null   object
 4   result2         1371 non-null   object
 5   score           1357 non-null   float64
 6   rank            1371 non-null   int64
 7   nb_reviews      1371 non-null   object
 8   city            1371 non-null   object
 9   Rank            1371 non-null   int64
 10  Country         1371 non-null   object
 11  Cost of Living  1371 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 139.2+ KB

In [35]:
final

,Unnamed: 0,url,results,result1,result2,score,rank,nb_reviews,city,Rank,Country,Cost of Living
0,0,https://nomadlist.com/lisbon,['‚≠êÔ∏è Total score\n4.34/5 (Rank #1)\n2384 revie...,['‚≠êÔ∏è Total score\n4.34/5 (,#1)\n2384 reviews\n‚ù§Ô∏è Liked by members\nüëç86% ...,4.34,1,2384,lisbon,1,Portugal,3336
1,1,https://nomadlist.com/chiang-mai,['‚≠êÔ∏è Total score\n4.06/5 (Rank #3)\n1583 revie...,['‚≠êÔ∏è Total score\n4.06/5 (,#3)\n1583 reviews\n‚ù§Ô∏è Liked by members\nüëç91% ...,4.06,3,1583,chiang-mai,4,Thailand,1316
2,2,https://nomadlist.com/canggu,['‚≠êÔ∏è Total score\n4.04/5 (Rank #4)\n1287 revie...,['‚≠êÔ∏è Total score\n4.04/5 (,#4)\n1287 reviews\n‚ù§Ô∏è Liked by members\nüëç81% ...,4.04,4,1287,canggu,3,Indonesia,1932
3,3,https://nomadlist.com/bangkok,['‚≠êÔ∏è Total score\n4.08/5 (Rank #2)\n2250 revie...,['‚≠êÔ∏è Total score\n4.08/5 (,#2)\n2250 reviews\n‚ù§Ô∏è Liked by members\nüëç89% ...,4.08,2,2250,bangkok,2,Thailand,2094
4,4,https://nomadlist.com/madeira,['‚≠êÔ∏è Total score\n3.88/5 (Rank #5)\n275 review...,['‚≠êÔ∏è Total score\n3.88/5 (,#5)\n275 reviews\n‚ù§Ô∏è Liked by members\nüëç100% ...,3.88,5,275,madeira,6,Portugal,2101
...,...,...,...,...,...,...,...,...,...,...,...,...
1366,1343,https://nomadlist.com/dar-es-salaam,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1356)\n48 revie...,['‚≠êÔ∏è Total score\n0.5/5 (,#1356)\n48 reviews\nüëç Quality of life score\n...,0.50,1356,48,dar-es-salaam,1344,Tanzania,1745
1367,1344,https://nomadlist.com/saint-petersburg,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1323)\n314 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1323)\n314 reviews\n‚ù§Ô∏è Liked by members\nüëç10...,0.50,1323,314,saint-petersburg,1345,Russia,2377
1368,1345,https://nomadlist.com/yangon,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1348)\n109 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1348)\n109 reviews\n‚ù§Ô∏è Liked by members\nüëç10...,0.50,1348,109,yangon,1346,Myanmar,1357
1369,1346,https://nomadlist.com/baghdad,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1328)\n6 review...,['‚≠êÔ∏è Total score\n0.5/5 (,#1328)\n6 reviews\nüëç Quality of life score\nB...,0.50,1328,6,baghdad,1347,Iraq,1907
1370,1347,https://nomadlist.com/moscow,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1322)\n479 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1322)\n479 reviews\n‚ù§Ô∏è Liked by members\nüëç91...,0.50,1322,479,moscow,1348,Russia,3032

In [38]:
t2 = final[['score', 'rank', 'nb_reviews','city', 'Rank', 'Country','url']].sort_values(by='Rank')
t2.city.value_counts().head(20)

victoria        9
birmingham      4
columbus        4
cordoba         4
la-paz          4
salem           4
san-jose        4
portland        4
odessa          4
melbourne       4
manchester      4
jacksonville    4
waterloo        4
reading         4
lagos           4
bloomington     4
rochester       4
nice            1
vineland        1
breda           1
Name: city, dtype: int64

In [63]:
t2[t2['city']=='rochester']

,score,rank,nb_reviews,city,Rank,Country,url
375,2.87,363,18,rochester,358,United States,https://nomadlist.com/rochester
377,2.87,363,18,rochester,358,United States,https://nomadlist.com/rochester
376,2.87,363,18,rochester,566,United States,https://nomadlist.com/rochester
378,2.87,363,18,rochester,566,United States,https://nomadlist.com/rochester

In [68]:
new_url_list=['https://nomadlist.com/victoria','https://nomadlist.com/victoria-seychelles', 'https://nomadlist.com/victoria-tx', 'https://nomadlist.com/birmingham', 'https://nomadlist.com/birmingham-al', 'https://nomadlist.com/columbus','https://nomadlist.com/columbus-ga', 'https://nomadlist.com/cordoba','https://nomadlist.com/cordoba-spain',
                'https://nomadlist.com/la-paz', 'https://nomadlist.com/la-paz-bolivia', 'https://nomadlist.com/salem', 'https://nomadlist.com/salem-ma', 'https://nomadlist.com/san-jose', 'https://nomadlist.com/san-jose-ca', 'https://nomadlist.com/portland', 'https://nomadlist.com/portland-me','https://nomadlist.com/odessa', 'https://nomadlist.com/odessa-tx',
                    'https://nomadlist.com/melbourne', 'https://nomadlist.com/melbourne-fl','https://nomadlist.com/manchester', 'https://nomadlist.com/manchester-nh', 'https://nomadlist.com/jacksonville', 'https://nomadlist.com/jacksonville-nc', 'https://nomadlist.com/waterloo', 'https://nomadlist.com/waterloo-ia', 'https://nomadlist.com/reading-pa', 'https://nomadlist.com/reading',
                        'https://nomadlist.com/lagos', 'https://nomadlist.com/lagos-nigeria','https://nomadlist.com/bloomington' , 'https://nomadlist.com/bloomington-il', 'https://nomadlist.com/rochester-mn', 'https://nomadlist.com/rochester']

In [69]:
url_df_add = pd.DataFrame(new_url_list).reset_index().rename(columns = {0 : 'url'})
url_df_add['results'] = url_df_add.apply(lambda city_url : '', axis=1)
url_df_add

    index                                        url results
0       0             https://nomadlist.com/victoria
1       1  https://nomadlist.com/victoria-seychelles
2       2          https://nomadlist.com/victoria-tx
3       3           https://nomadlist.com/birmingham
4       4        https://nomadlist.com/birmingham-al
5       5             https://nomadlist.com/columbus
6       6          https://nomadlist.com/columbus-ga
7       7              https://nomadlist.com/cordoba
8       8        https://nomadlist.com/cordoba-spain
9       9               https://nomadlist.com/la-paz
10     10       https://nomadlist.com/la-paz-bolivia
11     11                https://nomadlist.com/salem
12     12             https://nomadlist.com/salem-ma
13     13             https://nomadlist.com/san-jose
14     14          https://nomadlist.com/san-jose-ca
15     15             https://nomadlist.com/portland
16     16          https://nomadlist.com/portland-me
17     17               https://nomadlist.com/odessa
18     18            https://nomadlist.com/odessa-tx
19     19            https://nomadlist.com/melbourne
20     20         https://nomadlist.com/melbourne-fl
21     21           https://nomadlist.com/manchester
22     22        https://nomadlist.com/manchester-nh
23     23         https://nomadlist.com/jacksonville
24     24      https://nomadlist.com/jacksonville-nc
25     25             https://nomadlist.com/waterloo
26     26          https://nomadlist.com/waterloo-ia
27     27           https://nomadlist.com/reading-pa
28     28              https://nomadlist.com/reading
29     29                https://nomadlist.com/lagos
30     30        https://nomadlist.com/lagos-nigeria
31     31          https://nomadlist.com/bloomington
32     32       https://nomadlist.com/bloomington-il
33     33         https://nomadlist.com/rochester-mn
34     34            https://nomadlist.com/rochester

In [79]:
options = Options()
options.add_argument("window-size=1400,600")
#ua = UserAgent()
#user_agent = ua.random
#print(user_agent)
#options.add_argument(f'user-agent={user_agent}')
#driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)

#driver.delete_all_cookies()
def all_process(url):
    #driver = webdriver.Chrome(chrome_options=options)
    ua = UserAgent()
    user_agent = ua.random
    #print(user_agent)
    options.add_argument(f'user-agent={user_agent}')
    driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)
    driver.get(url)
    #x = random.randint(4,7)
    time.sleep(1)
    rating01 = list(map(lambda joke: joke.text, driver.find_elements_by_class_name('details')))
    result = re.findall('Rank #([0-9]+)', rating01[0]) if len(rating01)>0 else 'empty'
    print(result)
    driver.close()
    return rating01

In [75]:
url_df_add['results'] = url_df_add.apply(lambda x_url: all_process(x_url['url']) if x_url['results'] == '' else x_url, axis=1)
url_df_add

/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/425709197.py:16: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)

['390']
empty
['455']
['456']
['453']
['248']
['301']
empty
empty
['350']
['350']
['397']
['1136']
empty
empty
['147']
empty
['1309']
empty
['175']
['957']
['659']
['786']
['377']
['319']
['1133']
['254']
['535']
['1083']
['263']
empty
['606']
['849']
['585']
['344']

,index,url,results
0,0,https://nomadlist.com/victoria,[‚≠êÔ∏è Total score\n2.84/5 (Rank #390)\n81 review...
1,1,https://nomadlist.com/victoria-seychelles,[]
2,2,https://nomadlist.com/victoria-tx,[‚≠êÔ∏è Total score\n2.81/5 (Rank #455)\n1 reviews...
3,3,https://nomadlist.com/birmingham,[‚≠êÔ∏è Total score\n2.81/5 (Rank #456)\n74 review...
4,4,https://nomadlist.com/birmingham-al,[‚≠êÔ∏è Total score\n2.81/5 (Rank #453)\n22 review...
5,5,https://nomadlist.com/columbus,[‚≠êÔ∏è Total score\n2.95/5 (Rank #248)\n37 review...
6,6,https://nomadlist.com/columbus-ga,[‚≠êÔ∏è Total score\n2.92/5 (Rank #301)\n4 reviews...
7,7,https://nomadlist.com/cordoba,[]
8,8,https://nomadlist.com/cordoba-spain,[]
9,9,https://nomadlist.com/la-paz,[‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revie...
10,10,https://nomadlist.com/la-paz-bolivia,[‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revie...
11,11,https://nomadlist.com/salem,[‚≠êÔ∏è Total score\n2.84/5 (Rank #397)\n1 reviews...
12,12,https://nomadlist.com/salem-ma,[‚≠êÔ∏è Total score\n2.34/5 (Rank #1136)\n11 revie...
13,13,https://nomadlist.com/san-jose,[]
14,14,https://nomadlist.com/san-jose-ca,[]
15,15,https://nomadlist.com/portland,[‚≠êÔ∏è Total score\n3.07/5 (Rank #147)\n366 revie...
16,16,https://nomadlist.com/portland-me,[]
17,17,https://nomadlist.com/odessa,[‚≠êÔ∏è Total score\n0.5/5 (Rank #1309)\n99 review...
18,18,https://nomadlist.com/odessa-tx,[]
19,19,https://nomadlist.com/melbourne,[‚≠êÔ∏è Total score\n3.02/5 (Rank #175)\n501 revie...
20,20,https://nomadlist.com/melbourne-fl,[‚≠êÔ∏è Total score\n2.5/5 (Rank #957)\n5 reviews\...
21,21,https://nomadlist.com/manchester,[‚≠êÔ∏è Total score\n2.68/5 (Rank #659)\n187 revie...
22,22,https://nomadlist.com/manchester-nh,[‚≠êÔ∏è Total score\n2.61/5 (Rank #786)\n6 reviews...
23,23,https://nomadlist.com/jacksonville,[‚≠êÔ∏è Total score\n2.86/5 (Rank #377)\n45 review...
24,24,https://nomadlist.com/jacksonville-nc,[‚≠êÔ∏è Total score\n2.9/5 (Rank #319)\n1 reviews\...
25,25,https://nomadlist.com/waterloo,[‚≠êÔ∏è Total score\n2.34/5 (Rank #1133)\n11 revie...
26,26,https://nomadlist.com/waterloo-ia,[‚≠êÔ∏è Total score\n2.95/5 (Rank #254)\n1 reviews...
27,27,https://nomadlist.com/reading-pa,[‚≠êÔ∏è Total score\n2.76/5 (Rank #535)\n2 reviews...
28,28,https://nomadlist.com/reading,[‚≠êÔ∏è Total score\n2.39/5 (Rank #1083)\n11 revie...
29,29,https://nomadlist.com/lagos,[‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 review...
30,30,https://nomadlist.com/lagos-nigeria,[]
31,31,https://nomadlist.com/bloomington,[‚≠êÔ∏è Total score\n2.7/5 (Rank #606)\n8 reviews\...
32,32,https://nomadlist.com/bloomington-il,[‚≠êÔ∏è Total score\n2.57/5 (Rank #849)\n1 reviews...
33,33,https://nomadlist.com/rochester-mn,[‚≠êÔ∏è Total score\n2.72/5 (Rank #585)\n4 reviews...
34,34,https://nomadlist.com/rochester,[‚≠êÔ∏è Total score\n2.88/5 (Rank #344)\n18 review...

In [82]:
url_df_add['results'] = url_df_add['results'].apply(lambda x:str(x))

In [83]:
url_df_add['results'] = url_df_add.apply(lambda x_url: all_process(x_url['url']) if len(x_url['results']) == 2 else x_url['results'], axis=1)
#url_results.to_csv('url_results_'+str(datetime.datetime.now())+'.csv')
url_df_add

/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/425709197.py:16: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)

empty
['160']
empty
['1035']
empty
empty
['347']
['263']

,index,url,results
0,0,https://nomadlist.com/victoria,['‚≠êÔ∏è Total score\n2.84/5 (Rank #390)\n81 revie...
1,1,https://nomadlist.com/victoria-seychelles,[]
2,2,https://nomadlist.com/victoria-tx,['‚≠êÔ∏è Total score\n2.81/5 (Rank #455)\n1 review...
3,3,https://nomadlist.com/birmingham,['‚≠êÔ∏è Total score\n2.81/5 (Rank #456)\n74 revie...
4,4,https://nomadlist.com/birmingham-al,['‚≠êÔ∏è Total score\n2.81/5 (Rank #453)\n22 revie...
5,5,https://nomadlist.com/columbus,['‚≠êÔ∏è Total score\n2.95/5 (Rank #248)\n37 revie...
6,6,https://nomadlist.com/columbus-ga,['‚≠êÔ∏è Total score\n2.92/5 (Rank #301)\n4 review...
7,7,https://nomadlist.com/cordoba,[‚≠êÔ∏è Total score\n3.05/5 (Rank #160)\n91 review...
8,8,https://nomadlist.com/cordoba-spain,[]
9,9,https://nomadlist.com/la-paz,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...
10,10,https://nomadlist.com/la-paz-bolivia,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...
11,11,https://nomadlist.com/salem,['‚≠êÔ∏è Total score\n2.84/5 (Rank #397)\n1 review...
12,12,https://nomadlist.com/salem-ma,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1136)\n11 revi...
13,13,https://nomadlist.com/san-jose,[‚≠êÔ∏è Total score\n2.43/5 (Rank #1035)\n103 revi...
14,14,https://nomadlist.com/san-jose-ca,[]
15,15,https://nomadlist.com/portland,['‚≠êÔ∏è Total score\n3.07/5 (Rank #147)\n366 revi...
16,16,https://nomadlist.com/portland-me,[]
17,17,https://nomadlist.com/odessa,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1309)\n99 revie...
18,18,https://nomadlist.com/odessa-tx,[‚≠êÔ∏è Total score\n2.87/5 (Rank #347)\n1 reviews...
19,19,https://nomadlist.com/melbourne,['‚≠êÔ∏è Total score\n3.02/5 (Rank #175)\n501 revi...
20,20,https://nomadlist.com/melbourne-fl,['‚≠êÔ∏è Total score\n2.5/5 (Rank #957)\n5 reviews...
21,21,https://nomadlist.com/manchester,['‚≠êÔ∏è Total score\n2.68/5 (Rank #659)\n187 revi...
22,22,https://nomadlist.com/manchester-nh,['‚≠êÔ∏è Total score\n2.61/5 (Rank #786)\n6 review...
23,23,https://nomadlist.com/jacksonville,['‚≠êÔ∏è Total score\n2.86/5 (Rank #377)\n45 revie...
24,24,https://nomadlist.com/jacksonville-nc,['‚≠êÔ∏è Total score\n2.9/5 (Rank #319)\n1 reviews...
25,25,https://nomadlist.com/waterloo,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1133)\n11 revi...
26,26,https://nomadlist.com/waterloo-ia,['‚≠êÔ∏è Total score\n2.95/5 (Rank #254)\n1 review...
27,27,https://nomadlist.com/reading-pa,['‚≠êÔ∏è Total score\n2.76/5 (Rank #535)\n2 review...
28,28,https://nomadlist.com/reading,['‚≠êÔ∏è Total score\n2.39/5 (Rank #1083)\n11 revi...
29,29,https://nomadlist.com/lagos,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...
30,30,https://nomadlist.com/lagos-nigeria,[‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 review...
31,31,https://nomadlist.com/bloomington,['‚≠êÔ∏è Total score\n2.7/5 (Rank #606)\n8 reviews...
32,32,https://nomadlist.com/bloomington-il,['‚≠êÔ∏è Total score\n2.57/5 (Rank #849)\n1 review...
33,33,https://nomadlist.com/rochester-mn,['‚≠êÔ∏è Total score\n2.72/5 (Rank #585)\n4 review...
34,34,https://nomadlist.com/rochester,['‚≠êÔ∏è Total score\n2.88/5 (Rank #344)\n18 revie...

In [103]:
cond1 = url_df_add['url'] != "https://nomadlist.com/cordoba-spain"
cond2 = url_df_add['url'] != "https://nomadlist.com/san-jose-ca"
cond3 = url_df_add['url'] != "https://nomadlist.com/portland-me"
cond4 = url_df_add['url'] != "https://nomadlist.com/victoria-seychelles"

url_df_add1 = url_df_add[cond1 & cond2 & cond3 & cond4]
url_df_add1

,index,url,results
0,0,https://nomadlist.com/victoria,['‚≠êÔ∏è Total score\n2.84/5 (Rank #390)\n81 revie...
2,2,https://nomadlist.com/victoria-tx,['‚≠êÔ∏è Total score\n2.81/5 (Rank #455)\n1 review...
3,3,https://nomadlist.com/birmingham,['‚≠êÔ∏è Total score\n2.81/5 (Rank #456)\n74 revie...
4,4,https://nomadlist.com/birmingham-al,['‚≠êÔ∏è Total score\n2.81/5 (Rank #453)\n22 revie...
5,5,https://nomadlist.com/columbus,['‚≠êÔ∏è Total score\n2.95/5 (Rank #248)\n37 revie...
6,6,https://nomadlist.com/columbus-ga,['‚≠êÔ∏è Total score\n2.92/5 (Rank #301)\n4 review...
7,7,https://nomadlist.com/cordoba,[‚≠êÔ∏è Total score\n3.05/5 (Rank #160)\n91 review...
9,9,https://nomadlist.com/la-paz,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...
10,10,https://nomadlist.com/la-paz-bolivia,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...
11,11,https://nomadlist.com/salem,['‚≠êÔ∏è Total score\n2.84/5 (Rank #397)\n1 review...
12,12,https://nomadlist.com/salem-ma,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1136)\n11 revi...
13,13,https://nomadlist.com/san-jose,[‚≠êÔ∏è Total score\n2.43/5 (Rank #1035)\n103 revi...
15,15,https://nomadlist.com/portland,['‚≠êÔ∏è Total score\n3.07/5 (Rank #147)\n366 revi...
17,17,https://nomadlist.com/odessa,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1309)\n99 revie...
18,18,https://nomadlist.com/odessa-tx,[‚≠êÔ∏è Total score\n2.87/5 (Rank #347)\n1 reviews...
19,19,https://nomadlist.com/melbourne,['‚≠êÔ∏è Total score\n3.02/5 (Rank #175)\n501 revi...
20,20,https://nomadlist.com/melbourne-fl,['‚≠êÔ∏è Total score\n2.5/5 (Rank #957)\n5 reviews...
21,21,https://nomadlist.com/manchester,['‚≠êÔ∏è Total score\n2.68/5 (Rank #659)\n187 revi...
22,22,https://nomadlist.com/manchester-nh,['‚≠êÔ∏è Total score\n2.61/5 (Rank #786)\n6 review...
23,23,https://nomadlist.com/jacksonville,['‚≠êÔ∏è Total score\n2.86/5 (Rank #377)\n45 revie...
24,24,https://nomadlist.com/jacksonville-nc,['‚≠êÔ∏è Total score\n2.9/5 (Rank #319)\n1 reviews...
25,25,https://nomadlist.com/waterloo,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1133)\n11 revi...
26,26,https://nomadlist.com/waterloo-ia,['‚≠êÔ∏è Total score\n2.95/5 (Rank #254)\n1 review...
27,27,https://nomadlist.com/reading-pa,['‚≠êÔ∏è Total score\n2.76/5 (Rank #535)\n2 review...
28,28,https://nomadlist.com/reading,['‚≠êÔ∏è Total score\n2.39/5 (Rank #1083)\n11 revi...
29,29,https://nomadlist.com/lagos,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...
30,30,https://nomadlist.com/lagos-nigeria,[‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 review...
31,31,https://nomadlist.com/bloomington,['‚≠êÔ∏è Total score\n2.7/5 (Rank #606)\n8 reviews...
32,32,https://nomadlist.com/bloomington-il,['‚≠êÔ∏è Total score\n2.57/5 (Rank #849)\n1 review...
33,33,https://nomadlist.com/rochester-mn,['‚≠êÔ∏è Total score\n2.72/5 (Rank #585)\n4 review...
34,34,https://nomadlist.com/rochester,['‚≠êÔ∏è Total score\n2.88/5 (Rank #344)\n18 revie...

In [106]:
new_url_list1=['https://nomadlist.com/victoria-seychelles', 'https://nomadlist.com/cordoba-spain','https://nomadlist.com/san-jose-costa-rica', 'https://nomadlist.com/portland-me']

In [107]:
url_df_add_1 = pd.DataFrame(new_url_list1).reset_index().rename(columns = {0 : 'url'})
url_df_add_1['results'] = url_df_add_1.apply(lambda city_url : '', axis=1)
url_df_add_1

   index                                        url results
0      0  https://nomadlist.com/victoria-seychelles
1      1        https://nomadlist.com/cordoba-spain
2      2  https://nomadlist.com/san-jose-costa-rica
3      3          https://nomadlist.com/portland-me

In [108]:
url_df_add_1['results'] = url_df_add_1.apply(lambda x_url: all_process(x_url['url']) if x_url['results'] == '' else x_url, axis=1)
url_df_add_1

/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/425709197.py:16: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)

empty
empty
empty
['1028']

,index,url,results
0,0,https://nomadlist.com/victoria-seychelles,[]
1,1,https://nomadlist.com/cordoba-spain,[]
2,2,https://nomadlist.com/san-jose-costa-rica,[]
3,3,https://nomadlist.com/portland-me,[‚≠êÔ∏è Total score\n2.43/5 (Rank #1028)\n29 revie...

In [110]:
url_df_add_1.to_csv('to_delete_later.csv')

In [113]:
add_url_1 = pd.read_csv('/Users/anacarolinaquintino/Documents/GitHub/Project4-WebScrap/Insights/to_delete_later.csv')

In [ ]:
options = Options()
options.add_argument("window-size=1400,600")
#ua = UserAgent()
#user_agent = ua.random
#print(user_agent)
#options.add_argument(f'user-agent={user_agent}')
#driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)

#driver.delete_all_cookies()
def all_process(url):
    #driver = webdriver.Chrome(chrome_options=options)
    ua = UserAgent()
    user_agent = ua.random
    #print(user_agent)
    options.add_argument(f'user-agent={user_agent}')
    driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)
    driver.get(url)
    #x = random.randint(4,7)
    time.sleep(1)
    rating01 = list(map(lambda joke: joke.text, driver.find_elements_by_class_name('details')))
    result = re.findall('Rank #([0-9]+)', rating01[0]) if len(rating01)>0 else 'empty'
    print(result)
    driver.close()
    return rating01

In [109]:
add_url_1['results'] = add_url_1['results'].apply(lambda x:str(x))
add_url_1['results'] = add_url_1.apply(lambda x_url: all_process(x_url['url']) if len(x_url['results']) == 2 else x_url['results'], axis=1)
#url_results.to_csv('url_results_'+str(datetime.datetime.now())+'.csv')
add_url_1

/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/425709197.py:16: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)

empty
empty
empty

,index,url,results
0,0,https://nomadlist.com/victoria-seychelles,[]
1,1,https://nomadlist.com/cordoba-spain,[]
2,2,https://nomadlist.com/san-jose-costa-rica,[]
3,3,https://nomadlist.com/portland-me,['‚≠êÔ∏è Total score\n2.43/5 (Rank #1028)\n29 revi...

In [111]:
url_df_add.to_csv('url_doublecity.csv')

In [92]:
add_url = pd.read_csv('/Users/anacarolinaquintino/Documents/GitHub/Project4-WebScrap/Files/url_doublecity.csv')

In [96]:
add_url[['result1','result2']] = add_url['results'].str.split('Rank', expand=True)
add_url['score'] = add_url['result1'].apply(lambda x : re.findall('([0-9].[0-9]+)/5', str(x)))
add_url['score'] = add_url['score'].apply(lambda x : ''.join(x))
add_url['rank'] = add_url['result2'].apply(lambda x : re.findall('#([0-9]+)', str(x)))
add_url['rank'] = add_url['rank'].apply(lambda x : ''.join(x))
add_url['nb_reviews'] =  add_url['result2'].apply(lambda x : re.findall('([0-9]+) reviews', str(x)))
add_url['nb_reviews'] = add_url['nb_reviews'].apply(lambda x : ''.join(x))
add_url['city'] =  add_url['url'].apply(lambda x : re.findall('[^\/]+$', str(x)))
add_url['city'] = add_url['city'].apply(lambda x : ''.join(x))
add_url

,Unnamed: 0,index,url,results,result1,result2,score,rank,nb_reviews,city
0,0,0,https://nomadlist.com/victoria,['‚≠êÔ∏è Total score\n2.84/5 (Rank #390)\n81 revie...,['‚≠êÔ∏è Total score\n2.84/5 (,#390)\n81 reviews\n‚ù§Ô∏è Liked by members\nüëç100%...,2.84,390,81,victoria
1,1,1,https://nomadlist.com/victoria-seychelles,[],[],None,,,,victoria-seychelles
2,2,2,https://nomadlist.com/victoria-tx,['‚≠êÔ∏è Total score\n2.81/5 (Rank #455)\n1 review...,['‚≠êÔ∏è Total score\n2.81/5 (,#455)\n1 reviews\nüëç Quality of life score\nGo...,2.81,455,1,victoria-tx
3,3,3,https://nomadlist.com/birmingham,['‚≠êÔ∏è Total score\n2.81/5 (Rank #456)\n74 revie...,['‚≠êÔ∏è Total score\n2.81/5 (,#456)\n74 reviews\nüëç Quality of life score\nG...,2.81,456,74,birmingham
4,4,4,https://nomadlist.com/birmingham-al,['‚≠êÔ∏è Total score\n2.81/5 (Rank #453)\n22 revie...,['‚≠êÔ∏è Total score\n2.81/5 (,#453)\n22 reviews\nüëç Quality of life score\nG...,2.81,453,22,birmingham-al
5,5,5,https://nomadlist.com/columbus,['‚≠êÔ∏è Total score\n2.95/5 (Rank #248)\n37 revie...,['‚≠êÔ∏è Total score\n2.95/5 (,#248)\n37 reviews\nüëç Quality of life score\nO...,2.95,248,37,columbus
6,6,6,https://nomadlist.com/columbus-ga,['‚≠êÔ∏è Total score\n2.92/5 (Rank #301)\n4 review...,['‚≠êÔ∏è Total score\n2.92/5 (,#301)\n4 reviews\nüëç Quality of life score\nGo...,2.92,301,4,columbus-ga
7,7,7,https://nomadlist.com/cordoba,['‚≠êÔ∏è Total score\n3.05/5 (Rank #160)\n91 revie...,['‚≠êÔ∏è Total score\n3.05/5 (,#160)\n91 reviews\nüëç Quality of life score\nG...,3.05,160,91,cordoba
8,8,8,https://nomadlist.com/cordoba-spain,[],[],None,,,,cordoba-spain
9,9,9,https://nomadlist.com/la-paz,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...,['‚≠êÔ∏è Total score\n2.87/5 (,#350)\n114 reviews\nüëç Quality of life score\n...,2.87,350,114,la-paz
10,10,10,https://nomadlist.com/la-paz-bolivia,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...,['‚≠êÔ∏è Total score\n2.87/5 (,#350)\n114 reviews\nüëç Quality of life score\n...,2.87,350,114,la-paz-bolivia
11,11,11,https://nomadlist.com/salem,['‚≠êÔ∏è Total score\n2.84/5 (Rank #397)\n1 review...,['‚≠êÔ∏è Total score\n2.84/5 (,#397)\n1 reviews\nüëç Quality of life score\nOk...,2.84,397,1,salem
12,12,12,https://nomadlist.com/salem-ma,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1136)\n11 revi...,['‚≠êÔ∏è Total score\n2.34/5 (,#1136)\n11 reviews\nüëç Quality of life score\n...,2.34,1136,11,salem-ma
13,13,13,https://nomadlist.com/san-jose,['‚≠êÔ∏è Total score\n2.43/5 (Rank #1035)\n103 rev...,['‚≠êÔ∏è Total score\n2.43/5 (,#1035)\n103 reviews\nüëç Quality of life score\...,2.43,1035,103,san-jose
14,14,14,https://nomadlist.com/san-jose-ca,[],[],None,,,,san-jose-ca
15,15,15,https://nomadlist.com/portland,['‚≠êÔ∏è Total score\n3.07/5 (Rank #147)\n366 revi...,['‚≠êÔ∏è Total score\n3.07/5 (,#147)\n366 reviews\n‚ù§Ô∏è Liked by members\nüëç82%...,3.07,147,366,portland
16,16,16,https://nomadlist.com/portland-me,[],[],None,,,,portland-me
17,17,17,https://nomadlist.com/odessa,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1309)\n99 revie...,['‚≠êÔ∏è Total score\n0.5/5 (,#1309)\n99 reviews\n‚ù§Ô∏è Liked by members\nüëç91%...,0.5,1309,99,odessa
18,18,18,https://nomadlist.com/odessa-tx,['‚≠êÔ∏è Total score\n2.87/5 (Rank #347)\n1 review...,['‚≠êÔ∏è Total score\n2.87/5 (,#347)\n1 reviews\nüëç Quality of life score\nGo...,2.87,347,1,odessa-tx
19,19,19,https://nomadlist.com/melbourne,['‚≠êÔ∏è Total score\n3.02/5 (Rank #175)\n501 revi...,['‚≠êÔ∏è Total score\n3.02/5 (,#175)\n501 reviews\n‚ù§Ô∏è Liked by members\nüëç92%...,3.02,175,501,melbourne
20,20,20,https://nomadlist.com/melbourne-fl,['‚≠êÔ∏è Total score\n2.5/5 (Rank #957)\n5 reviews...,['‚≠êÔ∏è Total score\n2.5/5 (,#957)\n5 reviews\nüëç Quality of life score\nGo...,2.5,957,5,melbourne-fl
21,21,21,https://nomadlist.com/manchester,['‚≠êÔ∏è Total score\n2.68/5 (Rank #659)\n187 revi...,['‚≠êÔ∏è Total score\n2.68/5 (,#659)\n187 reviews\n‚ù§Ô∏è Liked by members\nüëç75%...,2.68,659,187,manchester
22,22,22,https://nomadlist.com/manchester-nh,['‚≠êÔ∏è Total score\n2.61/5 (Rank #786)\n6 review...,['‚≠êÔ∏è Total score\n2.61/5 (,#786)\n6 reviews\nüëç Quality of life score\nGo...,2.61,786,6,manchester-nh
23,23,23,https://nomadlist.com/jacksonville,['‚≠êÔ∏è Total score\n2.86/5 (Rank #377)\n45 revie...,['‚≠êÔ∏è Total score\n2.86/5 (,#377)\n45 reviews\nüëç Quality of life score\nG...,2.86,377,45,jacksonville
24,24,24,https://nomadlist.com/jacksonville-nc,['‚≠êÔ∏è Total score\n2.9/5 (Rank #319)\n1 reviews...,['‚≠êÔ∏è Total score\n2.9/5 (,#319)\n1 reviews\nüëç Quality of life score\nGo...,2.9,319,1,jacksonville-nc
25,25,25,https://nomadlist.com/waterloo,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1133)\n11 revi...,['‚≠êÔ∏è Total score\n2.34/5 (,#1133)\n11 reviews\nüëç Quality of life score\n...,2.34,1133,11,waterloo
26,26,26,https://nomadlist.com/waterloo-ia,['‚≠êÔ∏è Total score\n2.95/5 (Rank #254)\n1 review...,['‚≠êÔ∏è Total score\n2.95/5 (,#254)\n1 reviews\nüëç Quality of life score\nGo...,2.95,254,1,waterloo-ia
27,27,27,https://nomadlist.com/reading-pa,['‚≠êÔ∏è Total score\n2.76/5 (Rank #535)\n2 review...,['‚≠êÔ∏è Total score\n2.76/5 (,#535)\n2 reviews\nüëç Quality of life score\nGo...,2.76,535,2,reading-pa
28,28,28,https://nomadlist.com/reading,['‚≠êÔ∏è Total score\n2.39/5 (Rank #1083)\n11 revi...,['‚≠êÔ∏è Total score\n2.39/5 (,#1083)\n11 reviews\nüëç Quality of life score\n...,2.39,1083,11,reading
29,29,29,https://nomadlist.com/lagos,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...,['‚≠êÔ∏è Total score\n2.95/5 (,#263)\n25 reviews\nüëç Quality of life score\nO...,2.95,263,25,lagos
30,30,30,https://nomadlist.com/lagos-nigeria,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...,['‚≠êÔ∏è Total score\n2.95/5 (,#263)\n25 reviews\nüëç Quality of life score\nO...,2.95,263,25,lagos-nigeria
31,31,31,https://nomadlist.com/bloomington,['‚≠êÔ∏è Total score\n2.7/5 (Rank #606)\n8 reviews...,['‚≠êÔ∏è Total score\n2.7/5 (,#606)\n8 reviews\nüëç Quality of life score\nOk...,2.7,606,8,bloomington
32,32,32,https://nomadlist.com/bloomington-il,['‚≠êÔ∏è Total score\n2.57/5 (Rank #849)\n1 review...,['‚≠êÔ∏è Total score\n2.57/5 (,#849)\n1 reviews\nüëç Quality of life score\nOk...,2.57,849,1,bloomington-il
33,33,33,https://nomadlist.com/rochester-mn,['‚≠êÔ∏è Total score\n2.72/5 (Rank #585)\n4 review...,['‚≠êÔ∏è Total score\n2.72/5 (,#585)\n4 reviews\nüëç Quality of life score\nGo...,2.72,585,4,rochester-mn
34,34,34,https://nomadlist.com/rochester,['‚≠êÔ∏è Total score\n2.88/5 (Rank #344)\n18 revie...,['‚≠êÔ∏è Total score\n2.88/5 (,#344)\n18 reviews\nüëç Quality of life score\nG...,2.88,344,18,rochester