In [1]:
import pandas as pd

In [4]:
nomads = pd.read_csv(r'')
nomads.head()

,Unnamed: 0,url,results,result1,result2,score,rank
0,0,https://nomadlist.com/lisbon,['‚≠êÔ∏è Total score\n4.34/5 (Rank #1)\n2384 revie...,['‚≠êÔ∏è Total score\n4.34/5 (,#1)\n2384 reviews\n‚ù§Ô∏è Liked by members\nüëç86% ...,4.34,1
1,1,https://nomadlist.com/chiang-mai,['‚≠êÔ∏è Total score\n4.06/5 (Rank #3)\n1583 revie...,['‚≠êÔ∏è Total score\n4.06/5 (,#3)\n1583 reviews\n‚ù§Ô∏è Liked by members\nüëç91% ...,4.06,3
2,2,https://nomadlist.com/canggu,['‚≠êÔ∏è Total score\n4.04/5 (Rank #4)\n1287 revie...,['‚≠êÔ∏è Total score\n4.04/5 (,#4)\n1287 reviews\n‚ù§Ô∏è Liked by members\nüëç81% ...,4.04,4
3,3,https://nomadlist.com/bangkok,['‚≠êÔ∏è Total score\n4.08/5 (Rank #2)\n2250 revie...,['‚≠êÔ∏è Total score\n4.08/5 (,#2)\n2250 reviews\n‚ù§Ô∏è Liked by members\nüëç89% ...,4.08,2
4,4,https://nomadlist.com/madeira,['‚≠êÔ∏è Total score\n3.88/5 (Rank #5)\n275 review...,['‚≠êÔ∏è Total score\n3.88/5 (,#5)\n275 reviews\n‚ù§Ô∏è Liked by members\nüëç100% ...,3.88,5