In [9]:
import pandas as pd
import numpy as np
import re
from bs4 import BeautifulSoup
from getpass import getpass
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from fake_useragent import UserAgent
import time
import unidecode

In [10]:
name =  pd.read_csv(r'/Users/anacarolinaquintino/Documents/GitHub/Project4-WebScrap/Files/nomadlist_02.csv')
url = pd.read_csv(r'/Users/anacarolinaquintino/Documents/GitHub/Project4-WebScrap/Files/URL-Final.csv')

In [11]:
url

,Unnamed: 0,url,results,result1,result2,score,rank
0,0,https://nomadlist.com/lisbon,['‚≠êÔ∏è Total score\n4.34/5 (Rank #1)\n2384 revie...,['‚≠êÔ∏è Total score\n4.34/5 (,#1)\n2384 reviews\n‚ù§Ô∏è Liked by members\nüëç86% ...,4.34,1
1,1,https://nomadlist.com/chiang-mai,['‚≠êÔ∏è Total score\n4.06/5 (Rank #3)\n1583 revie...,['‚≠êÔ∏è Total score\n4.06/5 (,#3)\n1583 reviews\n‚ù§Ô∏è Liked by members\nüëç91% ...,4.06,3
2,2,https://nomadlist.com/canggu,['‚≠êÔ∏è Total score\n4.04/5 (Rank #4)\n1287 revie...,['‚≠êÔ∏è Total score\n4.04/5 (,#4)\n1287 reviews\n‚ù§Ô∏è Liked by members\nüëç81% ...,4.04,4
3,3,https://nomadlist.com/bangkok,['‚≠êÔ∏è Total score\n4.08/5 (Rank #2)\n2250 revie...,['‚≠êÔ∏è Total score\n4.08/5 (,#2)\n2250 reviews\n‚ù§Ô∏è Liked by members\nüëç89% ...,4.08,2
4,4,https://nomadlist.com/madeira,['‚≠êÔ∏è Total score\n3.88/5 (Rank #5)\n275 review...,['‚≠êÔ∏è Total score\n3.88/5 (,#5)\n275 reviews\n‚ù§Ô∏è Liked by members\nüëç100% ...,3.88,5
...,...,...,...,...,...,...,...
1343,1343,https://nomadlist.com/dar-es-salaam,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1356)\n48 revie...,['‚≠êÔ∏è Total score\n0.5/5 (,#1356)\n48 reviews\nüëç Quality of life score\n...,0.50,1356
1344,1344,https://nomadlist.com/saint-petersburg,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1323)\n314 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1323)\n314 reviews\n‚ù§Ô∏è Liked by members\nüëç10...,0.50,1323
1345,1345,https://nomadlist.com/yangon,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1348)\n109 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1348)\n109 reviews\n‚ù§Ô∏è Liked by members\nüëç10...,0.50,1348
1346,1346,https://nomadlist.com/baghdad,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1328)\n6 review...,['‚≠êÔ∏è Total score\n0.5/5 (,#1328)\n6 reviews\nüëç Quality of life score\nB...,0.50,1328
1347,1347,https://nomadlist.com/moscow,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1322)\n479 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1322)\n479 reviews\n‚ù§Ô∏è Liked by members\nüëç91...,0.50,1322

In [20]:
#name['Cost of Living_new']=name['Cost of Living'].apply(lambda x:str(x))
#name['Cost of Living'] = name['Cost of Living'].str.strip('$')
#name['Cost of Living'] = name['Cost of Living'].str.replace(',','')
#name['Cost of Living'] = name['Cost of Living'].astype(int)
name

      Unnamed: 0  Rank              City    Country Cost of Living
0              0     1            Lisbon   Portugal         $3,337
1              1     2           Bangkok   Thailand         $2,084
2              2     3      Canggu, Bali  Indonesia         $1,922
3              3     4        Chiang Mai   Thailand         $1,309
4              4     5      Buenos Aires  Argentina         $2,014
...          ...   ...               ...        ...            ...
1343        1343  1344     Dar es Salaam   Tanzania         $1,744
1344        1344  1345  Saint Petersburg     Russia         $2,370
1345        1345  1346            Yangon    Myanmar         $1,359
1346        1346  1347           Baghdad       Iraq         $1,909
1347        1347  1348            Moscow     Russia         $3,023

[1348 rows x 5 columns]

In [21]:
nameurl = name[['City','Rank']]
citypage = nameurl['City'].str.split(',', expand = True)
citypage[0] = citypage[0].str.lower()
citypage[0] = citypage[0].str.replace(' ','-')
citypage.rename(columns = {0:'city'}, inplace=True)
citypage

                  city      1
0               lisbon   None
1              bangkok   None
2               canggu   Bali
3           chiang-mai   None
4         buenos-aires   None
...                ...    ...
1343     dar-es-salaam   None
1344  saint-petersburg   None
1345            yangon   None
1346           baghdad   None
1347            moscow   None

[1348 rows x 2 columns]

In [22]:
name_full = pd.concat([name, citypage], axis=1)
name_full.drop(['Unnamed: 0', 'City', 1], axis=1, inplace=True)
name_full['Cost of Living']=name_full['Cost of Living'].apply(lambda x:str(x))
name_full['Cost of Living'] = name_full['Cost of Living'].str.strip('$')
name_full['Cost of Living'] = name_full['Cost of Living'].str.replace(',','')
name_full['Cost of Living'] = name_full['Cost of Living'].astype(int)
name_full

      Rank    Country  Cost of Living              city
0        1   Portugal            3337            lisbon
1        2   Thailand            2084           bangkok
2        3  Indonesia            1922            canggu
3        4   Thailand            1309        chiang-mai
4        5  Argentina            2014      buenos-aires
...    ...        ...             ...               ...
1343  1344   Tanzania            1744     dar-es-salaam
1344  1345     Russia            2370  saint-petersburg
1345  1346    Myanmar            1359            yangon
1346  1347       Iraq            1909           baghdad
1347  1348     Russia            3023            moscow

[1348 rows x 4 columns]

In [23]:
cond1=name_full['city']!='victoria'  
cond2 = name_full['city']!='birmingham'
cond3=name_full['city']!='columbus'
cond4=name_full['city']!='cordoba'
cond5=name_full['city']!='la-paz'
cond6=name_full['city']!='salem'
cond7=name_full['city']!='san-jose'
cond8=name_full['city']!='portland'
cond9= name_full['city']!='odessa'
cond10=name_full['city']!='melbourne'
cond11=name_full['city']!='jacksonville'
cond13=name_full['city']!='manchester'
cond14=name_full['city']!='waterloo'
cond15=name_full['city']!='manchester'
cond16=name_full['city']!='reading'
cond17=name_full['city']!='bloomington'
cond18=name_full['city']!='lagos'
cond19=name_full['city']!='rochester'


name_full1 = name_full[cond1 & cond2 & cond3 &cond4 &cond5&cond6&cond7&cond8&cond9&cond10&cond11&cond13&cond14&cond15&cond16&cond17&cond18&cond19]
name_full1['city'] = name_full1['city'].apply(unidecode.unidecode) ##remove all special characters of the letters
name_full1['city'] = name_full1['city'].str.replace("'",'')
name_full1['city'] = name_full1['city'].str.replace('st.-','st-')
name_full1[:20]

/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_2714/3115190365.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_full1['city'] = name_full1['city'].apply(unidecode.unidecode) ##remove all special characters of the letters
/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_2714/3115190365.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_full1['city'] = name_full1['city'].str.replace("'",'')
/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_2714/3115190365.py:24: FutureWarning: The default value of regex will change from True to False in a future version.
  name_full1['city'] = name_full1['city'].str.replace('st.-','st-')
/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_2714/3115190365.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name_full1['city'] = name_full1['city'].str.replace('st.-','st-')

    Rank       Country  Cost of Living           city
0      1      Portugal            3337         lisbon
1      2      Thailand            2084        bangkok
2      3     Indonesia            1922         canggu
3      4      Thailand            1309     chiang-mai
4      5     Argentina            2014   buenos-aires
5      6      Portugal            2102        madeira
6      7        Mexico            1797    mexico-city
7      8       Germany            3760         berlin
8      9       Romania            1571      timisoara
9     10         India            1272      bengaluru
10    11         Spain            1895   gran-canaria
11    12  South Africa            3131      cape-town
12    13      Portugal            2987          porto
13    14      Colombia            1491       medellin
14    15      Malaysia            1040         penang
15    16      Portugal            2171       portimao
16    17      Malaysia            1767   kuala-lumpur
17    18         Spain            2261  fuerteventura
19    20      Thailand            2391    ko-pha-ngan
20    21         Spain            2786       tenerife

In [13]:

url['nb_reviews'] =  url['result2'].apply(lambda x : re.findall('([0-9]+) reviews', str(x)))
url['nb_reviews'] = url['nb_reviews'].apply(lambda x : ''.join(x))
url['city'] =  url['url'].apply(lambda x : re.findall('[^\/]+$', str(x)))
url['city'] = url['city'].apply(lambda x : ''.join(x))
cond1=url['city']!='victoria'  
cond2 = url['city']!='birmingham'
cond3=url['city']!='columbus'
cond4=url['city']!='cordoba'
cond5=url['city']!='la-paz'
cond6=url['city']!='salem'
cond7=url['city']!='san-jose'
cond8=url['city']!='portland'
cond9= url['city']!='odessa'
cond10=url['city']!='melbourne'
cond11=url['city']!='jacksonville'
cond13=url['city']!='manchester'
cond14=url['city']!='waterloo'
cond15=url['city']!='manchester'
cond16=url['city']!='reading'
cond17=url['city']!='bloomington'
cond18=url['city']!='lagos'
cond19=url['city']!='rochester'
url1 = url[cond1 & cond2 & cond3 &cond4 &cond5&cond6&cond7&cond8&cond9&cond10&cond11&cond13&cond14&cond15&cond16&cond17&cond18&cond19]
url1

,Unnamed: 0,url,results,result1,result2,score,rank,nb_reviews,city
0,0,https://nomadlist.com/lisbon,['‚≠êÔ∏è Total score\n4.34/5 (Rank #1)\n2384 revie...,['‚≠êÔ∏è Total score\n4.34/5 (,#1)\n2384 reviews\n‚ù§Ô∏è Liked by members\nüëç86% ...,4.34,1,2384,lisbon
1,1,https://nomadlist.com/chiang-mai,['‚≠êÔ∏è Total score\n4.06/5 (Rank #3)\n1583 revie...,['‚≠êÔ∏è Total score\n4.06/5 (,#3)\n1583 reviews\n‚ù§Ô∏è Liked by members\nüëç91% ...,4.06,3,1583,chiang-mai
2,2,https://nomadlist.com/canggu,['‚≠êÔ∏è Total score\n4.04/5 (Rank #4)\n1287 revie...,['‚≠êÔ∏è Total score\n4.04/5 (,#4)\n1287 reviews\n‚ù§Ô∏è Liked by members\nüëç81% ...,4.04,4,1287,canggu
3,3,https://nomadlist.com/bangkok,['‚≠êÔ∏è Total score\n4.08/5 (Rank #2)\n2250 revie...,['‚≠êÔ∏è Total score\n4.08/5 (,#2)\n2250 reviews\n‚ù§Ô∏è Liked by members\nüëç89% ...,4.08,2,2250,bangkok
4,4,https://nomadlist.com/madeira,['‚≠êÔ∏è Total score\n3.88/5 (Rank #5)\n275 review...,['‚≠êÔ∏è Total score\n3.88/5 (,#5)\n275 reviews\n‚ù§Ô∏è Liked by members\nüëç100% ...,3.88,5,275,madeira
...,...,...,...,...,...,...,...,...,...
1343,1343,https://nomadlist.com/dar-es-salaam,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1356)\n48 revie...,['‚≠êÔ∏è Total score\n0.5/5 (,#1356)\n48 reviews\nüëç Quality of life score\n...,0.50,1356,48,dar-es-salaam
1344,1344,https://nomadlist.com/saint-petersburg,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1323)\n314 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1323)\n314 reviews\n‚ù§Ô∏è Liked by members\nüëç10...,0.50,1323,314,saint-petersburg
1345,1345,https://nomadlist.com/yangon,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1348)\n109 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1348)\n109 reviews\n‚ù§Ô∏è Liked by members\nüëç10...,0.50,1348,109,yangon
1346,1346,https://nomadlist.com/baghdad,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1328)\n6 review...,['‚≠êÔ∏è Total score\n0.5/5 (,#1328)\n6 reviews\nüëç Quality of life score\nB...,0.50,1328,6,baghdad
1347,1347,https://nomadlist.com/moscow,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1322)\n479 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1322)\n479 reviews\n‚ù§Ô∏è Liked by members\nüëç91...,0.50,1322,479,moscow

In [14]:
url1['score'] = url1['score'].apply(lambda x: 3 if np.isnan(x) else x)
url1[url1['score'].isna()]

/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_2714/2795718559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  url1['score'] = url1['score'].apply(lambda x: 3 if np.isnan(x) else x)

Empty DataFrame
Columns: [Unnamed: 0, url, results, result1, result2, score, rank, nb_reviews, city]
Index: []

In [24]:
final = pd.merge(url1, name_full1, on='city', how='left')
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1313 entries, 0 to 1312
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1313 non-null   int64
 1   url             1313 non-null   object
 2   results         1313 non-null   object
 3   result1         1313 non-null   object
 4   result2         1313 non-null   object
 5   score           1313 non-null   float64
 6   rank            1313 non-null   int64
 7   nb_reviews      1313 non-null   object
 8   city            1313 non-null   object
 9   Rank            1313 non-null   int64
 10  Country         1313 non-null   object
 11  Cost of Living  1313 non-null   int64
dtypes: float64(1), int64(4), object(7)
memory usage: 133.4+ KB

In [25]:
final

,Unnamed: 0,url,results,result1,result2,score,rank,nb_reviews,city,Rank,Country,Cost of Living
0,0,https://nomadlist.com/lisbon,['‚≠êÔ∏è Total score\n4.34/5 (Rank #1)\n2384 revie...,['‚≠êÔ∏è Total score\n4.34/5 (,#1)\n2384 reviews\n‚ù§Ô∏è Liked by members\nüëç86% ...,4.34,1,2384,lisbon,1,Portugal,3337
1,1,https://nomadlist.com/chiang-mai,['‚≠êÔ∏è Total score\n4.06/5 (Rank #3)\n1583 revie...,['‚≠êÔ∏è Total score\n4.06/5 (,#3)\n1583 reviews\n‚ù§Ô∏è Liked by members\nüëç91% ...,4.06,3,1583,chiang-mai,4,Thailand,1309
2,2,https://nomadlist.com/canggu,['‚≠êÔ∏è Total score\n4.04/5 (Rank #4)\n1287 revie...,['‚≠êÔ∏è Total score\n4.04/5 (,#4)\n1287 reviews\n‚ù§Ô∏è Liked by members\nüëç81% ...,4.04,4,1287,canggu,3,Indonesia,1922
3,3,https://nomadlist.com/bangkok,['‚≠êÔ∏è Total score\n4.08/5 (Rank #2)\n2250 revie...,['‚≠êÔ∏è Total score\n4.08/5 (,#2)\n2250 reviews\n‚ù§Ô∏è Liked by members\nüëç89% ...,4.08,2,2250,bangkok,2,Thailand,2084
4,4,https://nomadlist.com/madeira,['‚≠êÔ∏è Total score\n3.88/5 (Rank #5)\n275 review...,['‚≠êÔ∏è Total score\n3.88/5 (,#5)\n275 reviews\n‚ù§Ô∏è Liked by members\nüëç100% ...,3.88,5,275,madeira,6,Portugal,2102
...,...,...,...,...,...,...,...,...,...,...,...,...
1308,1343,https://nomadlist.com/dar-es-salaam,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1356)\n48 revie...,['‚≠êÔ∏è Total score\n0.5/5 (,#1356)\n48 reviews\nüëç Quality of life score\n...,0.50,1356,48,dar-es-salaam,1344,Tanzania,1744
1309,1344,https://nomadlist.com/saint-petersburg,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1323)\n314 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1323)\n314 reviews\n‚ù§Ô∏è Liked by members\nüëç10...,0.50,1323,314,saint-petersburg,1345,Russia,2370
1310,1345,https://nomadlist.com/yangon,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1348)\n109 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1348)\n109 reviews\n‚ù§Ô∏è Liked by members\nüëç10...,0.50,1348,109,yangon,1346,Myanmar,1359
1311,1346,https://nomadlist.com/baghdad,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1328)\n6 review...,['‚≠êÔ∏è Total score\n0.5/5 (,#1328)\n6 reviews\nüëç Quality of life score\nB...,0.50,1328,6,baghdad,1347,Iraq,1909
1312,1347,https://nomadlist.com/moscow,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1322)\n479 revi...,['‚≠êÔ∏è Total score\n0.5/5 (,#1322)\n479 reviews\n‚ù§Ô∏è Liked by members\nüëç91...,0.50,1322,479,moscow,1348,Russia,3023

In [26]:
final.to_csv('merge_country_city.csv')

In [233]:
t2 = final[['score', 'rank', 'nb_reviews','city', 'Rank', 'Country','url']].sort_values(by='Rank')
t2.city.value_counts().head(20)

lisbon         1
onitsha        1
leeds          1
vineland       1
kingston       1
nantes         1
zhuzhou        1
canton         1
peshawar       1
marysville     1
nice           1
riverside      1
salvador       1
brampton       1
nantong        1
tracy          1
hartford       1
adelaide       1
southampton    1
tegucigalpa    1
Name: city, dtype: int64

In [63]:
t2[t2['city']=='rochester']

,score,rank,nb_reviews,city,Rank,Country,url
375,2.87,363,18,rochester,358,United States,https://nomadlist.com/rochester
377,2.87,363,18,rochester,358,United States,https://nomadlist.com/rochester
376,2.87,363,18,rochester,566,United States,https://nomadlist.com/rochester
378,2.87,363,18,rochester,566,United States,https://nomadlist.com/rochester

In [118]:
new_url_list=['https://nomadlist.com/victoria','https://nomadlist.com/victoria-seychelles', 'https://nomadlist.com/victoria-tx', 'https://nomadlist.com/birmingham', 'https://nomadlist.com/birmingham-al', 'https://nomadlist.com/columbus','https://nomadlist.com/columbus-ga', 'https://nomadlist.com/cordoba','https://nomadlist.com/cordoba-spain',
                'https://nomadlist.com/la-paz', 'https://nomadlist.com/la-paz-bolivia', 'https://nomadlist.com/salem', 'https://nomadlist.com/salem-ma', 'https://nomadlist.com/san-jose', 'https://nomadlist.com/san-jose-costa-rica', 'https://nomadlist.com/portland', 'https://nomadlist.com/portland-me','https://nomadlist.com/odessa', 'https://nomadlist.com/odessa-tx',
                    'https://nomadlist.com/melbourne', 'https://nomadlist.com/melbourne-fl','https://nomadlist.com/manchester', 'https://nomadlist.com/manchester-nh', 'https://nomadlist.com/jacksonville', 'https://nomadlist.com/jacksonville-nc', 'https://nomadlist.com/waterloo', 'https://nomadlist.com/waterloo-ia', 'https://nomadlist.com/reading-pa', 'https://nomadlist.com/reading',
                        'https://nomadlist.com/lagos', 'https://nomadlist.com/lagos-nigeria','https://nomadlist.com/bloomington' , 'https://nomadlist.com/bloomington-il', 'https://nomadlist.com/rochester-mn', 'https://nomadlist.com/rochester']

In [119]:
url_df_add = pd.DataFrame(new_url_list).reset_index().rename(columns = {0 : 'url'})
url_df_add['results'] = url_df_add.apply(lambda city_url : '', axis=1)
url_df_add

    index                                        url results
0       0             https://nomadlist.com/victoria
1       1  https://nomadlist.com/victoria-seychelles
2       2          https://nomadlist.com/victoria-tx
3       3           https://nomadlist.com/birmingham
4       4        https://nomadlist.com/birmingham-al
5       5             https://nomadlist.com/columbus
6       6          https://nomadlist.com/columbus-ga
7       7              https://nomadlist.com/cordoba
8       8        https://nomadlist.com/cordoba-spain
9       9               https://nomadlist.com/la-paz
10     10       https://nomadlist.com/la-paz-bolivia
11     11                https://nomadlist.com/salem
12     12             https://nomadlist.com/salem-ma
13     13             https://nomadlist.com/san-jose
14     14  https://nomadlist.com/san-jose-costa-rica
15     15             https://nomadlist.com/portland
16     16          https://nomadlist.com/portland-me
17     17               https://nomadlist.com/odessa
18     18            https://nomadlist.com/odessa-tx
19     19            https://nomadlist.com/melbourne
20     20         https://nomadlist.com/melbourne-fl
21     21           https://nomadlist.com/manchester
22     22        https://nomadlist.com/manchester-nh
23     23         https://nomadlist.com/jacksonville
24     24      https://nomadlist.com/jacksonville-nc
25     25             https://nomadlist.com/waterloo
26     26          https://nomadlist.com/waterloo-ia
27     27           https://nomadlist.com/reading-pa
28     28              https://nomadlist.com/reading
29     29                https://nomadlist.com/lagos
30     30        https://nomadlist.com/lagos-nigeria
31     31          https://nomadlist.com/bloomington
32     32       https://nomadlist.com/bloomington-il
33     33         https://nomadlist.com/rochester-mn
34     34            https://nomadlist.com/rochester

In [122]:
options = Options()
options.add_argument("window-size=1400,600")
#ua = UserAgent()
#user_agent = ua.random
#print(user_agent)
#options.add_argument(f'user-agent={user_agent}')
#driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)

#driver.delete_all_cookies()
def all_process(url):
    #driver = webdriver.Chrome(chrome_options=options)
    ua = UserAgent()
    user_agent = ua.random
    #print(user_agent)
    options.add_argument(f'user-agent={user_agent}')
    driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)
    driver.get(url)
    #x = random.randint(4,7)
    time.sleep(1)
    rating01 = list(map(lambda joke: joke.text, driver.find_elements_by_class_name('details')))
    result = re.findall('Rank #([0-9]+)', rating01[0]) if len(rating01)>0 else 'empty'
    print(result)
    driver.close()
    return rating01

In [123]:
url_df_add['results'] = url_df_add.apply(lambda x_url: all_process(x_url['url']) if x_url['results'] == '' else x_url, axis=1)
url_df_add

/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/425709197.py:16: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)

['390']
empty
['455']
['456']
['453']
['248']
['301']
['160']
empty
['350']
['350']
['397']
['1136']
empty
empty
['147']
['1028']
['1309']
['347']
['175']
['957']
empty
['786']
['377']
['319']
['1133']
['254']
['535']
['1083']
['263']
['263']
['606']
['849']
['585']
['344']

,index,url,results
0,0,https://nomadlist.com/victoria,[‚≠êÔ∏è Total score\n2.84/5 (Rank #390)\n81 review...
1,1,https://nomadlist.com/victoria-seychelles,[]
2,2,https://nomadlist.com/victoria-tx,[‚≠êÔ∏è Total score\n2.81/5 (Rank #455)\n1 reviews...
3,3,https://nomadlist.com/birmingham,[‚≠êÔ∏è Total score\n2.81/5 (Rank #456)\n74 review...
4,4,https://nomadlist.com/birmingham-al,[‚≠êÔ∏è Total score\n2.81/5 (Rank #453)\n22 review...
5,5,https://nomadlist.com/columbus,[‚≠êÔ∏è Total score\n2.95/5 (Rank #248)\n37 review...
6,6,https://nomadlist.com/columbus-ga,[‚≠êÔ∏è Total score\n2.92/5 (Rank #301)\n4 reviews...
7,7,https://nomadlist.com/cordoba,[‚≠êÔ∏è Total score\n3.05/5 (Rank #160)\n91 review...
8,8,https://nomadlist.com/cordoba-spain,[]
9,9,https://nomadlist.com/la-paz,[‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revie...
10,10,https://nomadlist.com/la-paz-bolivia,[‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revie...
11,11,https://nomadlist.com/salem,[‚≠êÔ∏è Total score\n2.84/5 (Rank #397)\n1 reviews...
12,12,https://nomadlist.com/salem-ma,[‚≠êÔ∏è Total score\n2.34/5 (Rank #1136)\n11 revie...
13,13,https://nomadlist.com/san-jose,[]
14,14,https://nomadlist.com/san-jose-costa-rica,[]
15,15,https://nomadlist.com/portland,[‚≠êÔ∏è Total score\n3.07/5 (Rank #147)\n366 revie...
16,16,https://nomadlist.com/portland-me,[‚≠êÔ∏è Total score\n2.43/5 (Rank #1028)\n29 revie...
17,17,https://nomadlist.com/odessa,[‚≠êÔ∏è Total score\n0.5/5 (Rank #1309)\n99 review...
18,18,https://nomadlist.com/odessa-tx,[‚≠êÔ∏è Total score\n2.87/5 (Rank #347)\n1 reviews...
19,19,https://nomadlist.com/melbourne,[‚≠êÔ∏è Total score\n3.02/5 (Rank #175)\n501 revie...
20,20,https://nomadlist.com/melbourne-fl,[‚≠êÔ∏è Total score\n2.5/5 (Rank #957)\n5 reviews\...
21,21,https://nomadlist.com/manchester,[]
22,22,https://nomadlist.com/manchester-nh,[‚≠êÔ∏è Total score\n2.61/5 (Rank #786)\n6 reviews...
23,23,https://nomadlist.com/jacksonville,[‚≠êÔ∏è Total score\n2.86/5 (Rank #377)\n45 review...
24,24,https://nomadlist.com/jacksonville-nc,[‚≠êÔ∏è Total score\n2.9/5 (Rank #319)\n1 reviews\...
25,25,https://nomadlist.com/waterloo,[‚≠êÔ∏è Total score\n2.34/5 (Rank #1133)\n11 revie...
26,26,https://nomadlist.com/waterloo-ia,[‚≠êÔ∏è Total score\n2.95/5 (Rank #254)\n1 reviews...
27,27,https://nomadlist.com/reading-pa,[‚≠êÔ∏è Total score\n2.76/5 (Rank #535)\n2 reviews...
28,28,https://nomadlist.com/reading,[‚≠êÔ∏è Total score\n2.39/5 (Rank #1083)\n11 revie...
29,29,https://nomadlist.com/lagos,[‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 review...
30,30,https://nomadlist.com/lagos-nigeria,[‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 review...
31,31,https://nomadlist.com/bloomington,[‚≠êÔ∏è Total score\n2.7/5 (Rank #606)\n8 reviews\...
32,32,https://nomadlist.com/bloomington-il,[‚≠êÔ∏è Total score\n2.57/5 (Rank #849)\n1 reviews...
33,33,https://nomadlist.com/rochester-mn,[‚≠êÔ∏è Total score\n2.72/5 (Rank #585)\n4 reviews...
34,34,https://nomadlist.com/rochester,[‚≠êÔ∏è Total score\n2.88/5 (Rank #344)\n18 review...

In [124]:
url_df_add['results'] = url_df_add['results'].apply(lambda x:str(x))

In [125]:
url_df_add['results'] = url_df_add.apply(lambda x_url: all_process(x_url['url']) if len(x_url['results']) == 2 else x_url['results'], axis=1)
#url_results.to_csv('url_results_'+str(datetime.datetime.now())+'.csv')
url_df_add

/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/425709197.py:16: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)

empty
empty
['1035']
empty
empty

,index,url,results
0,0,https://nomadlist.com/victoria,['‚≠êÔ∏è Total score\n2.84/5 (Rank #390)\n81 revie...
1,1,https://nomadlist.com/victoria-seychelles,[]
2,2,https://nomadlist.com/victoria-tx,['‚≠êÔ∏è Total score\n2.81/5 (Rank #455)\n1 review...
3,3,https://nomadlist.com/birmingham,['‚≠êÔ∏è Total score\n2.81/5 (Rank #456)\n74 revie...
4,4,https://nomadlist.com/birmingham-al,['‚≠êÔ∏è Total score\n2.81/5 (Rank #453)\n22 revie...
5,5,https://nomadlist.com/columbus,['‚≠êÔ∏è Total score\n2.95/5 (Rank #248)\n37 revie...
6,6,https://nomadlist.com/columbus-ga,['‚≠êÔ∏è Total score\n2.92/5 (Rank #301)\n4 review...
7,7,https://nomadlist.com/cordoba,['‚≠êÔ∏è Total score\n3.05/5 (Rank #160)\n91 revie...
8,8,https://nomadlist.com/cordoba-spain,[]
9,9,https://nomadlist.com/la-paz,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...
10,10,https://nomadlist.com/la-paz-bolivia,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...
11,11,https://nomadlist.com/salem,['‚≠êÔ∏è Total score\n2.84/5 (Rank #397)\n1 review...
12,12,https://nomadlist.com/salem-ma,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1136)\n11 revi...
13,13,https://nomadlist.com/san-jose,[‚≠êÔ∏è Total score\n2.43/5 (Rank #1035)\n103 revi...
14,14,https://nomadlist.com/san-jose-costa-rica,[]
15,15,https://nomadlist.com/portland,['‚≠êÔ∏è Total score\n3.07/5 (Rank #147)\n366 revi...
16,16,https://nomadlist.com/portland-me,['‚≠êÔ∏è Total score\n2.43/5 (Rank #1028)\n29 revi...
17,17,https://nomadlist.com/odessa,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1309)\n99 revie...
18,18,https://nomadlist.com/odessa-tx,['‚≠êÔ∏è Total score\n2.87/5 (Rank #347)\n1 review...
19,19,https://nomadlist.com/melbourne,['‚≠êÔ∏è Total score\n3.02/5 (Rank #175)\n501 revi...
20,20,https://nomadlist.com/melbourne-fl,['‚≠êÔ∏è Total score\n2.5/5 (Rank #957)\n5 reviews...
21,21,https://nomadlist.com/manchester,[]
22,22,https://nomadlist.com/manchester-nh,['‚≠êÔ∏è Total score\n2.61/5 (Rank #786)\n6 review...
23,23,https://nomadlist.com/jacksonville,['‚≠êÔ∏è Total score\n2.86/5 (Rank #377)\n45 revie...
24,24,https://nomadlist.com/jacksonville-nc,['‚≠êÔ∏è Total score\n2.9/5 (Rank #319)\n1 reviews...
25,25,https://nomadlist.com/waterloo,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1133)\n11 revi...
26,26,https://nomadlist.com/waterloo-ia,['‚≠êÔ∏è Total score\n2.95/5 (Rank #254)\n1 review...
27,27,https://nomadlist.com/reading-pa,['‚≠êÔ∏è Total score\n2.76/5 (Rank #535)\n2 review...
28,28,https://nomadlist.com/reading,['‚≠êÔ∏è Total score\n2.39/5 (Rank #1083)\n11 revi...
29,29,https://nomadlist.com/lagos,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...
30,30,https://nomadlist.com/lagos-nigeria,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...
31,31,https://nomadlist.com/bloomington,['‚≠êÔ∏è Total score\n2.7/5 (Rank #606)\n8 reviews...
32,32,https://nomadlist.com/bloomington-il,['‚≠êÔ∏è Total score\n2.57/5 (Rank #849)\n1 review...
33,33,https://nomadlist.com/rochester-mn,['‚≠êÔ∏è Total score\n2.72/5 (Rank #585)\n4 review...
34,34,https://nomadlist.com/rochester,['‚≠êÔ∏è Total score\n2.88/5 (Rank #344)\n18 revie...

In [128]:
url_df_add['results'] = url_df_add.apply(lambda x_url: all_process(x_url['url']) if len(x_url['results']) == 2 else x_url['results'], axis=1)
url_df_add

,index,url,results
0,0,https://nomadlist.com/victoria,['‚≠êÔ∏è Total score\n2.84/5 (Rank #390)\n81 revie...
1,1,https://nomadlist.com/victoria-seychelles,[]
2,2,https://nomadlist.com/victoria-tx,['‚≠êÔ∏è Total score\n2.81/5 (Rank #455)\n1 review...
3,3,https://nomadlist.com/birmingham,['‚≠êÔ∏è Total score\n2.81/5 (Rank #456)\n74 revie...
4,4,https://nomadlist.com/birmingham-al,['‚≠êÔ∏è Total score\n2.81/5 (Rank #453)\n22 revie...
5,5,https://nomadlist.com/columbus,['‚≠êÔ∏è Total score\n2.95/5 (Rank #248)\n37 revie...
6,6,https://nomadlist.com/columbus-ga,['‚≠êÔ∏è Total score\n2.92/5 (Rank #301)\n4 review...
7,7,https://nomadlist.com/cordoba,['‚≠êÔ∏è Total score\n3.05/5 (Rank #160)\n91 revie...
8,8,https://nomadlist.com/cordoba-spain,[]
9,9,https://nomadlist.com/la-paz,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...
10,10,https://nomadlist.com/la-paz-bolivia,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...
11,11,https://nomadlist.com/salem,['‚≠êÔ∏è Total score\n2.84/5 (Rank #397)\n1 review...
12,12,https://nomadlist.com/salem-ma,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1136)\n11 revi...
13,13,https://nomadlist.com/san-jose,[‚≠êÔ∏è Total score\n2.43/5 (Rank #1035)\n103 revi...
14,14,https://nomadlist.com/san-jose-costa-rica,[]
15,15,https://nomadlist.com/portland,['‚≠êÔ∏è Total score\n3.07/5 (Rank #147)\n366 revi...
16,16,https://nomadlist.com/portland-me,['‚≠êÔ∏è Total score\n2.43/5 (Rank #1028)\n29 revi...
17,17,https://nomadlist.com/odessa,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1309)\n99 revie...
18,18,https://nomadlist.com/odessa-tx,['‚≠êÔ∏è Total score\n2.87/5 (Rank #347)\n1 review...
19,19,https://nomadlist.com/melbourne,['‚≠êÔ∏è Total score\n3.02/5 (Rank #175)\n501 revi...
20,20,https://nomadlist.com/melbourne-fl,['‚≠êÔ∏è Total score\n2.5/5 (Rank #957)\n5 reviews...
21,21,https://nomadlist.com/manchester,[]
22,22,https://nomadlist.com/manchester-nh,['‚≠êÔ∏è Total score\n2.61/5 (Rank #786)\n6 review...
23,23,https://nomadlist.com/jacksonville,['‚≠êÔ∏è Total score\n2.86/5 (Rank #377)\n45 revie...
24,24,https://nomadlist.com/jacksonville-nc,['‚≠êÔ∏è Total score\n2.9/5 (Rank #319)\n1 reviews...
25,25,https://nomadlist.com/waterloo,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1133)\n11 revi...
26,26,https://nomadlist.com/waterloo-ia,['‚≠êÔ∏è Total score\n2.95/5 (Rank #254)\n1 review...
27,27,https://nomadlist.com/reading-pa,['‚≠êÔ∏è Total score\n2.76/5 (Rank #535)\n2 review...
28,28,https://nomadlist.com/reading,['‚≠êÔ∏è Total score\n2.39/5 (Rank #1083)\n11 revi...
29,29,https://nomadlist.com/lagos,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...
30,30,https://nomadlist.com/lagos-nigeria,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...
31,31,https://nomadlist.com/bloomington,['‚≠êÔ∏è Total score\n2.7/5 (Rank #606)\n8 reviews...
32,32,https://nomadlist.com/bloomington-il,['‚≠êÔ∏è Total score\n2.57/5 (Rank #849)\n1 review...
33,33,https://nomadlist.com/rochester-mn,['‚≠êÔ∏è Total score\n2.72/5 (Rank #585)\n4 review...
34,34,https://nomadlist.com/rochester,['‚≠êÔ∏è Total score\n2.88/5 (Rank #344)\n18 revie...

In [129]:
url_df_add.to_csv('to_delete.csv')

In [131]:
url_df_add_1 = pd.read_csv('/Users/anacarolinaquintino/Documents/GitHub/Project4-WebScrap/Insights/to_delete.csv')

In [92]:
add_url = pd.read_csv('/Users/anacarolinaquintino/Documents/GitHub/Project4-WebScrap/Files/url_doublecity.csv')

In [132]:
url_df_add_1['results'] = url_df_add_1.apply(lambda x_url: all_process(x_url['url']) if len(x_url['results']) == 2 else x_url['results'], axis=1)
url_df_add_1

/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/425709197.py:16: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome(ChromeDriverManager().install(), chrome_options=options)

empty
empty
empty
['659']

,Unnamed: 0,index,url,results
0,0,0,https://nomadlist.com/victoria,['‚≠êÔ∏è Total score\n2.84/5 (Rank #390)\n81 revie...
1,1,1,https://nomadlist.com/victoria-seychelles,[]
2,2,2,https://nomadlist.com/victoria-tx,['‚≠êÔ∏è Total score\n2.81/5 (Rank #455)\n1 review...
3,3,3,https://nomadlist.com/birmingham,['‚≠êÔ∏è Total score\n2.81/5 (Rank #456)\n74 revie...
4,4,4,https://nomadlist.com/birmingham-al,['‚≠êÔ∏è Total score\n2.81/5 (Rank #453)\n22 revie...
5,5,5,https://nomadlist.com/columbus,['‚≠êÔ∏è Total score\n2.95/5 (Rank #248)\n37 revie...
6,6,6,https://nomadlist.com/columbus-ga,['‚≠êÔ∏è Total score\n2.92/5 (Rank #301)\n4 review...
7,7,7,https://nomadlist.com/cordoba,['‚≠êÔ∏è Total score\n3.05/5 (Rank #160)\n91 revie...
8,8,8,https://nomadlist.com/cordoba-spain,[]
9,9,9,https://nomadlist.com/la-paz,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...
10,10,10,https://nomadlist.com/la-paz-bolivia,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...
11,11,11,https://nomadlist.com/salem,['‚≠êÔ∏è Total score\n2.84/5 (Rank #397)\n1 review...
12,12,12,https://nomadlist.com/salem-ma,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1136)\n11 revi...
13,13,13,https://nomadlist.com/san-jose,['‚≠êÔ∏è Total score\n2.43/5 (Rank #1035)\n103 rev...
14,14,14,https://nomadlist.com/san-jose-costa-rica,[]
15,15,15,https://nomadlist.com/portland,['‚≠êÔ∏è Total score\n3.07/5 (Rank #147)\n366 revi...
16,16,16,https://nomadlist.com/portland-me,['‚≠êÔ∏è Total score\n2.43/5 (Rank #1028)\n29 revi...
17,17,17,https://nomadlist.com/odessa,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1309)\n99 revie...
18,18,18,https://nomadlist.com/odessa-tx,['‚≠êÔ∏è Total score\n2.87/5 (Rank #347)\n1 review...
19,19,19,https://nomadlist.com/melbourne,['‚≠êÔ∏è Total score\n3.02/5 (Rank #175)\n501 revi...
20,20,20,https://nomadlist.com/melbourne-fl,['‚≠êÔ∏è Total score\n2.5/5 (Rank #957)\n5 reviews...
21,21,21,https://nomadlist.com/manchester,[‚≠êÔ∏è Total score\n2.68/5 (Rank #659)\n187 revie...
22,22,22,https://nomadlist.com/manchester-nh,['‚≠êÔ∏è Total score\n2.61/5 (Rank #786)\n6 review...
23,23,23,https://nomadlist.com/jacksonville,['‚≠êÔ∏è Total score\n2.86/5 (Rank #377)\n45 revie...
24,24,24,https://nomadlist.com/jacksonville-nc,['‚≠êÔ∏è Total score\n2.9/5 (Rank #319)\n1 reviews...
25,25,25,https://nomadlist.com/waterloo,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1133)\n11 revi...
26,26,26,https://nomadlist.com/waterloo-ia,['‚≠êÔ∏è Total score\n2.95/5 (Rank #254)\n1 review...
27,27,27,https://nomadlist.com/reading-pa,['‚≠êÔ∏è Total score\n2.76/5 (Rank #535)\n2 review...
28,28,28,https://nomadlist.com/reading,['‚≠êÔ∏è Total score\n2.39/5 (Rank #1083)\n11 revi...
29,29,29,https://nomadlist.com/lagos,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...
30,30,30,https://nomadlist.com/lagos-nigeria,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...
31,31,31,https://nomadlist.com/bloomington,['‚≠êÔ∏è Total score\n2.7/5 (Rank #606)\n8 reviews...
32,32,32,https://nomadlist.com/bloomington-il,['‚≠êÔ∏è Total score\n2.57/5 (Rank #849)\n1 review...
33,33,33,https://nomadlist.com/rochester-mn,['‚≠êÔ∏è Total score\n2.72/5 (Rank #585)\n4 review...
34,34,34,https://nomadlist.com/rochester,['‚≠êÔ∏è Total score\n2.88/5 (Rank #344)\n18 revie...

In [133]:
url_df_add_1.to_csv('url_doublecity.csv')

In [160]:
url_double = pd.read_csv('/Users/anacarolinaquintino/Documents/GitHub/Project4-WebScrap/Files/url_doublecity.csv')
url_double

,Unnamed: 0.1,Unnamed: 0,index,url,results
0,0,0,0,https://nomadlist.com/victoria,['‚≠êÔ∏è Total score\n2.84/5 (Rank #390)\n81 revie...
1,1,1,1,https://nomadlist.com/victoria-seychelles,[]
2,2,2,2,https://nomadlist.com/victoria-tx,['‚≠êÔ∏è Total score\n2.81/5 (Rank #455)\n1 review...
3,3,3,3,https://nomadlist.com/birmingham,['‚≠êÔ∏è Total score\n2.81/5 (Rank #456)\n74 revie...
4,4,4,4,https://nomadlist.com/birmingham-al,['‚≠êÔ∏è Total score\n2.81/5 (Rank #453)\n22 revie...
5,5,5,5,https://nomadlist.com/columbus,['‚≠êÔ∏è Total score\n2.95/5 (Rank #248)\n37 revie...
6,6,6,6,https://nomadlist.com/columbus-ga,['‚≠êÔ∏è Total score\n2.92/5 (Rank #301)\n4 review...
7,7,7,7,https://nomadlist.com/cordoba,['‚≠êÔ∏è Total score\n3.05/5 (Rank #160)\n91 revie...
8,8,8,8,https://nomadlist.com/cordoba-spain,[]
9,9,9,9,https://nomadlist.com/la-paz,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...
10,10,10,10,https://nomadlist.com/la-paz-bolivia,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...
11,11,11,11,https://nomadlist.com/salem,['‚≠êÔ∏è Total score\n2.84/5 (Rank #397)\n1 review...
12,12,12,12,https://nomadlist.com/salem-ma,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1136)\n11 revi...
13,13,13,13,https://nomadlist.com/san-jose,['‚≠êÔ∏è Total score\n2.43/5 (Rank #1035)\n103 rev...
14,14,14,14,https://nomadlist.com/san-jose-costa-rica,[]
15,15,15,15,https://nomadlist.com/portland,['‚≠êÔ∏è Total score\n3.07/5 (Rank #147)\n366 revi...
16,16,16,16,https://nomadlist.com/portland-me,['‚≠êÔ∏è Total score\n2.43/5 (Rank #1028)\n29 revi...
17,17,17,17,https://nomadlist.com/odessa,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1309)\n99 revie...
18,18,18,18,https://nomadlist.com/odessa-tx,['‚≠êÔ∏è Total score\n2.87/5 (Rank #347)\n1 review...
19,19,19,19,https://nomadlist.com/melbourne,['‚≠êÔ∏è Total score\n3.02/5 (Rank #175)\n501 revi...
20,20,20,20,https://nomadlist.com/melbourne-fl,['‚≠êÔ∏è Total score\n2.5/5 (Rank #957)\n5 reviews...
21,21,21,21,https://nomadlist.com/manchester,['‚≠êÔ∏è Total score\n2.68/5 (Rank #659)\n187 revi...
22,22,22,22,https://nomadlist.com/manchester-nh,['‚≠êÔ∏è Total score\n2.61/5 (Rank #786)\n6 review...
23,23,23,23,https://nomadlist.com/jacksonville,['‚≠êÔ∏è Total score\n2.86/5 (Rank #377)\n45 revie...
24,24,24,24,https://nomadlist.com/jacksonville-nc,['‚≠êÔ∏è Total score\n2.9/5 (Rank #319)\n1 reviews...
25,25,25,25,https://nomadlist.com/waterloo,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1133)\n11 revi...
26,26,26,26,https://nomadlist.com/waterloo-ia,['‚≠êÔ∏è Total score\n2.95/5 (Rank #254)\n1 review...
27,27,27,27,https://nomadlist.com/reading-pa,['‚≠êÔ∏è Total score\n2.76/5 (Rank #535)\n2 review...
28,28,28,28,https://nomadlist.com/reading,['‚≠êÔ∏è Total score\n2.39/5 (Rank #1083)\n11 revi...
29,29,29,29,https://nomadlist.com/lagos,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...
30,30,30,30,https://nomadlist.com/lagos-nigeria,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...
31,31,31,31,https://nomadlist.com/bloomington,['‚≠êÔ∏è Total score\n2.7/5 (Rank #606)\n8 reviews...
32,32,32,32,https://nomadlist.com/bloomington-il,['‚≠êÔ∏è Total score\n2.57/5 (Rank #849)\n1 review...
33,33,33,33,https://nomadlist.com/rochester-mn,['‚≠êÔ∏è Total score\n2.72/5 (Rank #585)\n4 review...
34,34,34,34,https://nomadlist.com/rochester,['‚≠êÔ∏è Total score\n2.88/5 (Rank #344)\n18 revie...

In [161]:
url_double[['result1','result2']] = url_double['results'].str.split('Rank', expand=True)
url_double['score'] = url_double['result1'].apply(lambda x : re.findall('([0-9].[0-9]+)/5', str(x)))
url_double['score'] = url_double['score'].apply(lambda x : ''.join(x))
url_double['rank'] = url_double['result2'].apply(lambda x : re.findall('#([0-9]+)', str(x)))
url_double['rank'] = url_double['rank'].apply(lambda x : ''.join(x))
url_double['nb_reviews'] =  url_double['result2'].apply(lambda x : re.findall('([0-9]+) reviews', str(x)))
url_double['nb_reviews'] = url_double['nb_reviews'].apply(lambda x : ''.join(x))
url_double['city'] =  url_double['url'].apply(lambda x : re.findall('[^\/]+$', str(x)))
url_double['city'] = url_double['city'].apply(lambda x : ''.join(x))
url_double_1 = url_double[['url','results', 'result1', 'result2', 'score','rank','nb_reviews','city']]
url_double_1

,url,results,result1,result2,score,rank,nb_reviews,city
0,https://nomadlist.com/victoria,['‚≠êÔ∏è Total score\n2.84/5 (Rank #390)\n81 revie...,['‚≠êÔ∏è Total score\n2.84/5 (,#390)\n81 reviews\n‚ù§Ô∏è Liked by members\nüëç100%...,2.84,390,81,victoria
1,https://nomadlist.com/victoria-seychelles,[],[],None,,,,victoria-seychelles
2,https://nomadlist.com/victoria-tx,['‚≠êÔ∏è Total score\n2.81/5 (Rank #455)\n1 review...,['‚≠êÔ∏è Total score\n2.81/5 (,#455)\n1 reviews\nüëç Quality of life score\nGo...,2.81,455,1,victoria-tx
3,https://nomadlist.com/birmingham,['‚≠êÔ∏è Total score\n2.81/5 (Rank #456)\n74 revie...,['‚≠êÔ∏è Total score\n2.81/5 (,#456)\n74 reviews\nüëç Quality of life score\nG...,2.81,456,74,birmingham
4,https://nomadlist.com/birmingham-al,['‚≠êÔ∏è Total score\n2.81/5 (Rank #453)\n22 revie...,['‚≠êÔ∏è Total score\n2.81/5 (,#453)\n22 reviews\nüëç Quality of life score\nG...,2.81,453,22,birmingham-al
5,https://nomadlist.com/columbus,['‚≠êÔ∏è Total score\n2.95/5 (Rank #248)\n37 revie...,['‚≠êÔ∏è Total score\n2.95/5 (,#248)\n37 reviews\nüëç Quality of life score\nO...,2.95,248,37,columbus
6,https://nomadlist.com/columbus-ga,['‚≠êÔ∏è Total score\n2.92/5 (Rank #301)\n4 review...,['‚≠êÔ∏è Total score\n2.92/5 (,#301)\n4 reviews\nüëç Quality of life score\nGo...,2.92,301,4,columbus-ga
7,https://nomadlist.com/cordoba,['‚≠êÔ∏è Total score\n3.05/5 (Rank #160)\n91 revie...,['‚≠êÔ∏è Total score\n3.05/5 (,#160)\n91 reviews\nüëç Quality of life score\nG...,3.05,160,91,cordoba
8,https://nomadlist.com/cordoba-spain,[],[],None,,,,cordoba-spain
9,https://nomadlist.com/la-paz,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...,['‚≠êÔ∏è Total score\n2.87/5 (,#350)\n114 reviews\nüëç Quality of life score\n...,2.87,350,114,la-paz
10,https://nomadlist.com/la-paz-bolivia,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...,['‚≠êÔ∏è Total score\n2.87/5 (,#350)\n114 reviews\nüëç Quality of life score\n...,2.87,350,114,la-paz-bolivia
11,https://nomadlist.com/salem,['‚≠êÔ∏è Total score\n2.84/5 (Rank #397)\n1 review...,['‚≠êÔ∏è Total score\n2.84/5 (,#397)\n1 reviews\nüëç Quality of life score\nOk...,2.84,397,1,salem
12,https://nomadlist.com/salem-ma,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1136)\n11 revi...,['‚≠êÔ∏è Total score\n2.34/5 (,#1136)\n11 reviews\nüëç Quality of life score\n...,2.34,1136,11,salem-ma
13,https://nomadlist.com/san-jose,['‚≠êÔ∏è Total score\n2.43/5 (Rank #1035)\n103 rev...,['‚≠êÔ∏è Total score\n2.43/5 (,#1035)\n103 reviews\nüëç Quality of life score\...,2.43,1035,103,san-jose
14,https://nomadlist.com/san-jose-costa-rica,[],[],None,,,,san-jose-costa-rica
15,https://nomadlist.com/portland,['‚≠êÔ∏è Total score\n3.07/5 (Rank #147)\n366 revi...,['‚≠êÔ∏è Total score\n3.07/5 (,#147)\n366 reviews\n‚ù§Ô∏è Liked by members\nüëç82%...,3.07,147,366,portland
16,https://nomadlist.com/portland-me,['‚≠êÔ∏è Total score\n2.43/5 (Rank #1028)\n29 revi...,['‚≠êÔ∏è Total score\n2.43/5 (,#1028)\n29 reviews\nüëç Quality of life score\n...,2.43,1028,29,portland-me
17,https://nomadlist.com/odessa,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1309)\n99 revie...,['‚≠êÔ∏è Total score\n0.5/5 (,#1309)\n99 reviews\n‚ù§Ô∏è Liked by members\nüëç91%...,0.5,1309,99,odessa
18,https://nomadlist.com/odessa-tx,['‚≠êÔ∏è Total score\n2.87/5 (Rank #347)\n1 review...,['‚≠êÔ∏è Total score\n2.87/5 (,#347)\n1 reviews\nüëç Quality of life score\nGo...,2.87,347,1,odessa-tx
19,https://nomadlist.com/melbourne,['‚≠êÔ∏è Total score\n3.02/5 (Rank #175)\n501 revi...,['‚≠êÔ∏è Total score\n3.02/5 (,#175)\n501 reviews\n‚ù§Ô∏è Liked by members\nüëç92%...,3.02,175,501,melbourne
20,https://nomadlist.com/melbourne-fl,['‚≠êÔ∏è Total score\n2.5/5 (Rank #957)\n5 reviews...,['‚≠êÔ∏è Total score\n2.5/5 (,#957)\n5 reviews\nüëç Quality of life score\nGo...,2.5,957,5,melbourne-fl
21,https://nomadlist.com/manchester,['‚≠êÔ∏è Total score\n2.68/5 (Rank #659)\n187 revi...,['‚≠êÔ∏è Total score\n2.68/5 (,#659)\n187 reviews\n‚ù§Ô∏è Liked by members\nüëç75%...,2.68,659,187,manchester
22,https://nomadlist.com/manchester-nh,['‚≠êÔ∏è Total score\n2.61/5 (Rank #786)\n6 review...,['‚≠êÔ∏è Total score\n2.61/5 (,#786)\n6 reviews\nüëç Quality of life score\nGo...,2.61,786,6,manchester-nh
23,https://nomadlist.com/jacksonville,['‚≠êÔ∏è Total score\n2.86/5 (Rank #377)\n45 revie...,['‚≠êÔ∏è Total score\n2.86/5 (,#377)\n45 reviews\nüëç Quality of life score\nG...,2.86,377,45,jacksonville
24,https://nomadlist.com/jacksonville-nc,['‚≠êÔ∏è Total score\n2.9/5 (Rank #319)\n1 reviews...,['‚≠êÔ∏è Total score\n2.9/5 (,#319)\n1 reviews\nüëç Quality of life score\nGo...,2.9,319,1,jacksonville-nc
25,https://nomadlist.com/waterloo,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1133)\n11 revi...,['‚≠êÔ∏è Total score\n2.34/5 (,#1133)\n11 reviews\nüëç Quality of life score\n...,2.34,1133,11,waterloo
26,https://nomadlist.com/waterloo-ia,['‚≠êÔ∏è Total score\n2.95/5 (Rank #254)\n1 review...,['‚≠êÔ∏è Total score\n2.95/5 (,#254)\n1 reviews\nüëç Quality of life score\nGo...,2.95,254,1,waterloo-ia
27,https://nomadlist.com/reading-pa,['‚≠êÔ∏è Total score\n2.76/5 (Rank #535)\n2 review...,['‚≠êÔ∏è Total score\n2.76/5 (,#535)\n2 reviews\nüëç Quality of life score\nGo...,2.76,535,2,reading-pa
28,https://nomadlist.com/reading,['‚≠êÔ∏è Total score\n2.39/5 (Rank #1083)\n11 revi...,['‚≠êÔ∏è Total score\n2.39/5 (,#1083)\n11 reviews\nüëç Quality of life score\n...,2.39,1083,11,reading
29,https://nomadlist.com/lagos,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...,['‚≠êÔ∏è Total score\n2.95/5 (,#263)\n25 reviews\nüëç Quality of life score\nO...,2.95,263,25,lagos
30,https://nomadlist.com/lagos-nigeria,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...,['‚≠êÔ∏è Total score\n2.95/5 (,#263)\n25 reviews\nüëç Quality of life score\nO...,2.95,263,25,lagos-nigeria
31,https://nomadlist.com/bloomington,['‚≠êÔ∏è Total score\n2.7/5 (Rank #606)\n8 reviews...,['‚≠êÔ∏è Total score\n2.7/5 (,#606)\n8 reviews\nüëç Quality of life score\nOk...,2.7,606,8,bloomington
32,https://nomadlist.com/bloomington-il,['‚≠êÔ∏è Total score\n2.57/5 (Rank #849)\n1 review...,['‚≠êÔ∏è Total score\n2.57/5 (,#849)\n1 reviews\nüëç Quality of life score\nOk...,2.57,849,1,bloomington-il
33,https://nomadlist.com/rochester-mn,['‚≠êÔ∏è Total score\n2.72/5 (Rank #585)\n4 review...,['‚≠êÔ∏è Total score\n2.72/5 (,#585)\n4 reviews\nüëç Quality of life score\nGo...,2.72,585,4,rochester-mn
34,https://nomadlist.com/rochester,['‚≠êÔ∏è Total score\n2.88/5 (Rank #344)\n18 revie...,['‚≠êÔ∏è Total score\n2.88/5 (,#344)\n18 reviews\nüëç Quality of life score\nG...,2.88,344,18,rochester

In [162]:
url_double_1['score'] = url_double_1.apply(lambda x : 2.65 if x['city']=='cordoba-spain' else x['score'], axis=1)
url_double_1['score'] = url_double_1.apply(lambda x : 2.02 if x['city']=='victoria-seychelles' else x['score'], axis=1)
url_double_1['score'] = url_double_1.apply(lambda x : 2.97 if x['city']=='san-jose-costa-rica' else x['score'], axis=1)
url_double_1['rank'] = url_double_1.apply(lambda x : 716 if x['city']=='cordoba-spain' else x['rank'], axis=1)
url_double_1['rank'] = url_double_1.apply(lambda x : 1273 if x['city']=='victoria-seychelles' else x['rank'], axis=1)
url_double_1['rank'] = url_double_1.apply(lambda x : 230 if x['city']=='san-jose-costa-rica' else x['rank'], axis=1)
url_double_1['nb_reviews'] = url_double_1.apply(lambda x : 47 if x['city']=='cordoba-spain' else x['nb_reviews'], axis=1)
url_double_1['nb_reviews'] = url_double_1.apply(lambda x : 22 if x['city']=='victoria-seychelles' else x['nb_reviews'], axis=1)
url_double_1['nb_reviews'] = url_double_1.apply(lambda x : 305 if x['city']=='san-jose-costa-rica' else x['nb_reviews'], axis=1)
url_double_1

/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/446728812.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  url_double_1['score'] = url_double_1.apply(lambda x : 2.65 if x['city']=='cordoba-spain' else x['score'], axis=1)
/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/446728812.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  url_double_1['score'] = url_double_1.apply(lambda x : 2.02 if x['city']=='victoria-seychelles' else x['score'], axis=1)
/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/446728812.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  url_double_1['score'] = url_double_1.apply(lambda x : 2.97 if x['city']=='san-jose-costa-rica' else x['score'], axis=1)
/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/446728812.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  url_double_1['rank'] = url_double_1.apply(lambda x : 716 if x['city']=='cordoba-spain' else x['rank'], axis=1)
/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/446728812.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  url_double_1['rank'] = url_double_1.apply(lambda x : 1273 if x['city']=='victoria-seychelles' else x['rank'], axis=1)
/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/446728812.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  url_double_1['rank'] = url_double_1.apply(lambda x : 230 if x['city']=='san-jose-costa-rica' else x['rank'], axis=1)
/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/446728812.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  url_double_1['nb_reviews'] = url_double_1.apply(lambda x : 47 if x['city']=='cordoba-spain' else x['nb_reviews'], axis=1)
/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/446728812.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  url_double_1['nb_reviews'] = url_double_1.apply(lambda x : 22 if x['city']=='victoria-seychelles' else x['nb_reviews'], axis=1)
/var/folders/kh/8_xn31gj4qd2v1_npj4sxgr80000gn/T/ipykernel_33615/446728812.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  url_double_1['nb_reviews'] = url_double_1.apply(lambda x : 305 if x['city']=='san-jose-costa-rica' else x['nb_reviews'], axis=1)

,url,results,result1,result2,score,rank,nb_reviews,city
0,https://nomadlist.com/victoria,['‚≠êÔ∏è Total score\n2.84/5 (Rank #390)\n81 revie...,['‚≠êÔ∏è Total score\n2.84/5 (,#390)\n81 reviews\n‚ù§Ô∏è Liked by members\nüëç100%...,2.84,390,81,victoria
1,https://nomadlist.com/victoria-seychelles,[],[],None,2.02,1273,22,victoria-seychelles
2,https://nomadlist.com/victoria-tx,['‚≠êÔ∏è Total score\n2.81/5 (Rank #455)\n1 review...,['‚≠êÔ∏è Total score\n2.81/5 (,#455)\n1 reviews\nüëç Quality of life score\nGo...,2.81,455,1,victoria-tx
3,https://nomadlist.com/birmingham,['‚≠êÔ∏è Total score\n2.81/5 (Rank #456)\n74 revie...,['‚≠êÔ∏è Total score\n2.81/5 (,#456)\n74 reviews\nüëç Quality of life score\nG...,2.81,456,74,birmingham
4,https://nomadlist.com/birmingham-al,['‚≠êÔ∏è Total score\n2.81/5 (Rank #453)\n22 revie...,['‚≠êÔ∏è Total score\n2.81/5 (,#453)\n22 reviews\nüëç Quality of life score\nG...,2.81,453,22,birmingham-al
5,https://nomadlist.com/columbus,['‚≠êÔ∏è Total score\n2.95/5 (Rank #248)\n37 revie...,['‚≠êÔ∏è Total score\n2.95/5 (,#248)\n37 reviews\nüëç Quality of life score\nO...,2.95,248,37,columbus
6,https://nomadlist.com/columbus-ga,['‚≠êÔ∏è Total score\n2.92/5 (Rank #301)\n4 review...,['‚≠êÔ∏è Total score\n2.92/5 (,#301)\n4 reviews\nüëç Quality of life score\nGo...,2.92,301,4,columbus-ga
7,https://nomadlist.com/cordoba,['‚≠êÔ∏è Total score\n3.05/5 (Rank #160)\n91 revie...,['‚≠êÔ∏è Total score\n3.05/5 (,#160)\n91 reviews\nüëç Quality of life score\nG...,3.05,160,91,cordoba
8,https://nomadlist.com/cordoba-spain,[],[],None,2.65,716,47,cordoba-spain
9,https://nomadlist.com/la-paz,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...,['‚≠êÔ∏è Total score\n2.87/5 (,#350)\n114 reviews\nüëç Quality of life score\n...,2.87,350,114,la-paz
10,https://nomadlist.com/la-paz-bolivia,['‚≠êÔ∏è Total score\n2.87/5 (Rank #350)\n114 revi...,['‚≠êÔ∏è Total score\n2.87/5 (,#350)\n114 reviews\nüëç Quality of life score\n...,2.87,350,114,la-paz-bolivia
11,https://nomadlist.com/salem,['‚≠êÔ∏è Total score\n2.84/5 (Rank #397)\n1 review...,['‚≠êÔ∏è Total score\n2.84/5 (,#397)\n1 reviews\nüëç Quality of life score\nOk...,2.84,397,1,salem
12,https://nomadlist.com/salem-ma,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1136)\n11 revi...,['‚≠êÔ∏è Total score\n2.34/5 (,#1136)\n11 reviews\nüëç Quality of life score\n...,2.34,1136,11,salem-ma
13,https://nomadlist.com/san-jose,['‚≠êÔ∏è Total score\n2.43/5 (Rank #1035)\n103 rev...,['‚≠êÔ∏è Total score\n2.43/5 (,#1035)\n103 reviews\nüëç Quality of life score\...,2.43,1035,103,san-jose
14,https://nomadlist.com/san-jose-costa-rica,[],[],None,2.97,230,305,san-jose-costa-rica
15,https://nomadlist.com/portland,['‚≠êÔ∏è Total score\n3.07/5 (Rank #147)\n366 revi...,['‚≠êÔ∏è Total score\n3.07/5 (,#147)\n366 reviews\n‚ù§Ô∏è Liked by members\nüëç82%...,3.07,147,366,portland
16,https://nomadlist.com/portland-me,['‚≠êÔ∏è Total score\n2.43/5 (Rank #1028)\n29 revi...,['‚≠êÔ∏è Total score\n2.43/5 (,#1028)\n29 reviews\nüëç Quality of life score\n...,2.43,1028,29,portland-me
17,https://nomadlist.com/odessa,['‚≠êÔ∏è Total score\n0.5/5 (Rank #1309)\n99 revie...,['‚≠êÔ∏è Total score\n0.5/5 (,#1309)\n99 reviews\n‚ù§Ô∏è Liked by members\nüëç91%...,0.5,1309,99,odessa
18,https://nomadlist.com/odessa-tx,['‚≠êÔ∏è Total score\n2.87/5 (Rank #347)\n1 review...,['‚≠êÔ∏è Total score\n2.87/5 (,#347)\n1 reviews\nüëç Quality of life score\nGo...,2.87,347,1,odessa-tx
19,https://nomadlist.com/melbourne,['‚≠êÔ∏è Total score\n3.02/5 (Rank #175)\n501 revi...,['‚≠êÔ∏è Total score\n3.02/5 (,#175)\n501 reviews\n‚ù§Ô∏è Liked by members\nüëç92%...,3.02,175,501,melbourne
20,https://nomadlist.com/melbourne-fl,['‚≠êÔ∏è Total score\n2.5/5 (Rank #957)\n5 reviews...,['‚≠êÔ∏è Total score\n2.5/5 (,#957)\n5 reviews\nüëç Quality of life score\nGo...,2.5,957,5,melbourne-fl
21,https://nomadlist.com/manchester,['‚≠êÔ∏è Total score\n2.68/5 (Rank #659)\n187 revi...,['‚≠êÔ∏è Total score\n2.68/5 (,#659)\n187 reviews\n‚ù§Ô∏è Liked by members\nüëç75%...,2.68,659,187,manchester
22,https://nomadlist.com/manchester-nh,['‚≠êÔ∏è Total score\n2.61/5 (Rank #786)\n6 review...,['‚≠êÔ∏è Total score\n2.61/5 (,#786)\n6 reviews\nüëç Quality of life score\nGo...,2.61,786,6,manchester-nh
23,https://nomadlist.com/jacksonville,['‚≠êÔ∏è Total score\n2.86/5 (Rank #377)\n45 revie...,['‚≠êÔ∏è Total score\n2.86/5 (,#377)\n45 reviews\nüëç Quality of life score\nG...,2.86,377,45,jacksonville
24,https://nomadlist.com/jacksonville-nc,['‚≠êÔ∏è Total score\n2.9/5 (Rank #319)\n1 reviews...,['‚≠êÔ∏è Total score\n2.9/5 (,#319)\n1 reviews\nüëç Quality of life score\nGo...,2.9,319,1,jacksonville-nc
25,https://nomadlist.com/waterloo,['‚≠êÔ∏è Total score\n2.34/5 (Rank #1133)\n11 revi...,['‚≠êÔ∏è Total score\n2.34/5 (,#1133)\n11 reviews\nüëç Quality of life score\n...,2.34,1133,11,waterloo
26,https://nomadlist.com/waterloo-ia,['‚≠êÔ∏è Total score\n2.95/5 (Rank #254)\n1 review...,['‚≠êÔ∏è Total score\n2.95/5 (,#254)\n1 reviews\nüëç Quality of life score\nGo...,2.95,254,1,waterloo-ia
27,https://nomadlist.com/reading-pa,['‚≠êÔ∏è Total score\n2.76/5 (Rank #535)\n2 review...,['‚≠êÔ∏è Total score\n2.76/5 (,#535)\n2 reviews\nüëç Quality of life score\nGo...,2.76,535,2,reading-pa
28,https://nomadlist.com/reading,['‚≠êÔ∏è Total score\n2.39/5 (Rank #1083)\n11 revi...,['‚≠êÔ∏è Total score\n2.39/5 (,#1083)\n11 reviews\nüëç Quality of life score\n...,2.39,1083,11,reading
29,https://nomadlist.com/lagos,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...,['‚≠êÔ∏è Total score\n2.95/5 (,#263)\n25 reviews\nüëç Quality of life score\nO...,2.95,263,25,lagos
30,https://nomadlist.com/lagos-nigeria,['‚≠êÔ∏è Total score\n2.95/5 (Rank #263)\n25 revie...,['‚≠êÔ∏è Total score\n2.95/5 (,#263)\n25 reviews\nüëç Quality of life score\nO...,2.95,263,25,lagos-nigeria
31,https://nomadlist.com/bloomington,['‚≠êÔ∏è Total score\n2.7/5 (Rank #606)\n8 reviews...,['‚≠êÔ∏è Total score\n2.7/5 (,#606)\n8 reviews\nüëç Quality of life score\nOk...,2.7,606,8,bloomington
32,https://nomadlist.com/bloomington-il,['‚≠êÔ∏è Total score\n2.57/5 (Rank #849)\n1 review...,['‚≠êÔ∏è Total score\n2.57/5 (,#849)\n1 reviews\nüëç Quality of life score\nOk...,2.57,849,1,bloomington-il
33,https://nomadlist.com/rochester-mn,['‚≠êÔ∏è Total score\n2.72/5 (Rank #585)\n4 review...,['‚≠êÔ∏è Total score\n2.72/5 (,#585)\n4 reviews\nüëç Quality of life score\nGo...,2.72,585,4,rochester-mn
34,https://nomadlist.com/rochester,['‚≠êÔ∏è Total score\n2.88/5 (Rank #344)\n18 revie...,['‚≠êÔ∏è Total score\n2.88/5 (,#344)\n18 reviews\nüëç Quality of life score\nG...,2.88,344,18,rochester

In [166]:
type(url_double_1['rank'][2])

str

In [ ]:
#double_city_country = pd.merge(url_double_1, name_full, how='left', left_on='rank', right_on='Rank')
#double_city_country