In [1]:
import pandas as pd

In [2]:
unicorns = pd.read_csv(r'C:\Users\frans\Documents\GitHub\Project4-WebScrap\Files\FinalUnicorns.csv')
unicorns.head()

,Unnamed: 0,Name,Country,Industry,Valuation ($ Billion)
0,0,Bytedance,China,Artificial intelligence,140.0
1,1,SpaceX,United States,Other,100.3
2,2,Shein,China,E-commerce & direct-to-consumer,100.0
3,3,Stripe,United States,Fintech,95.0
4,4,Klarna,Sweden,Fintech,45.6